[2017-04-18 11:48] jetgeo opened #1 "Data type for ParameterValue.geographicObject"
[From Roger Lott]
"In the Coordinate Operations package (part 2), ParameterValue.geographicObject. The datatype DirectPosition is wrong. It is the object itself, not its direct position, which needs to be identified here. (Having identified the object its direct position can be found indirectly). We seek your advice on what the correct datatype should be. From the 19111:2007 model it probably woul

[2017-04-18 11:50] jetgeo opened #2 "Mechanism for identifying a calendar used to describe a temporal CRS"
[From Roger Lott]:
"We need to add a mechanism for identifying a calendar used to describe a temporal CRS. _The only options for the value of this that we want to include in 19111 are prolepticGregorian and user-defined_. We don't want to provide a mechanism for the user to give the definition – we think that is out of scope of 19111 (and should be in 19108 or some implementation spec based on 191

[2017-04-18 11:52] jetgeo opened #3 "temporalDatum attributes in Datum-CRS associations diagram"
[From Roger Lott]:
"In the DATUM-CRS associations diagram, temporalDatum is anomalous in having its attribute(s) included in this diagram so these attributes should be removed from this diagram (but not the class - they do need to be shown in the Datum diagram !)."

[2017-04-18 11:53] jetgeo opened #4 "Vertical CRS"
[From Roger Lott]:
Vertical CRS. Let me begin by describing the issue from the geodesist's perspective. A vertical CRS can be realised (defined) in one of two ways. The historic classical way is to start with the assumption that mean sea level = the geoid surface, have a tide gauge on the coast where mean sea level is empirically deduced, then to have a network of 'levelling lines' which transfer

[2017-04-18 11:54] jetgeo opened #5 "Image CRS"
[From Roger Lott]:
"Image CRS. Those in yesterday's teleconference were pretty unanimously of the view that Image CRS and all classes hanging off it (DerivedImageCRS, ImageCS [already removed], ImageDatum, PixelInCell) were described in ISO 19123 / OGC Coverages specifications and therefore not required in 19111. But before we remove them I need to contact the coverages community to get their inpu

[2017-04-18 12:25] jetgeo commented on #3
Ok, done.
![datum crs associations](https://cloud.githubusercontent.com/assets/7501876/25130556/e215c886-2442-11e7-9538-d32d43ae9a41.png)

[2017-04-18 12:25] #3 closed, assigned to jetgeo

[2017-04-18 13:05] jetgeo commented on #1
First: The Geometry interface can be used as a data type in this conceptual model, just like the primitive types for 19103, which are also interfaces.
But: it will then be just the geometry itself, not an object with geomerty. If I understand this correctly, the purpose is to be able to use an object with geometry as a parameter value. So I think that what we may need is a local interface that imp

[2017-04-18 14:00] jetgeo commented on #2
I think a codelist would be the best solution here.
![datum](https://cloud.githubusercontent.com/assets/7501876/25134542/26a4d8d6-2450-11e7-828c-b6726e1e2998.png)

[2017-04-18 20:47] jetgeo commented on #4
a) I do not think the circularity will be a problem. Of course, it will be possible to create a situation where on VerticalCRS is the sourceCRS for itself, but that would be more of a user error the way I see it.
b) I do not see what you gain with subtyping VerticalCRS
c) Seems like a good and clean sollution
d) Seems even better

Suggested new Datum model:
![datum](https://cloud.githubusercontent

[2017-04-19 07:41] jetgeo commented on #4
Updatet version of the CRS diagram, including the new association:
![coordinate reference systems](https://cloud.githubusercontent.com/assets/7501876/25168573/588765d2-24e4-11e7-86f4-3305d3767674.png)

[2017-04-20 18:13] jetgeo commented on #4
The name of the aggregation from VerticalCRS to Transformation has been changed from HeightCorrection to HeightTransformation.

[2017-04-20 18:13] #4 closed, assigned to jetgeo

[2017-04-20 18:13] jetgeo commented on #2
In the Datums.RealizationMethod class, changed +geoidBased to +geoid

[2017-04-20 18:13] #2 closed, assigned to jetgeo

[2017-04-20 18:16] jetgeo commented on #5
[From Roger Lott]:
Contrary to the CRS SWG discussion two weeks ago it would seem that there is a requirement not only to retain Image CRS but to augment it:

1.	In the CRS package, add a class IndexCRS subtyped off ImageCRS
2.	In the CS package:
a.	add a class Index subtyped off CoordinateSystem
b.	In the AxisUnit class add an attribute +Index:Integer
3.	In the CS-CRS associations, add an aggrega

[2017-04-20 18:21] jetgeo opened #6 "Alternative model for discussion"
[From Roger Lott]:
(Don't throw away the current model – we need this parallel one for discussion purposes first)
**(Separate branch for discussion)**

The objectives are (i) to simplify coordinate operations through the removal of the distinction between conversion and transformation, and (ii) to simplify the modelling of derived CRSs by removing the derivedCRS class and allowing derivedCRSs to e

[2017-04-20 19:09] jetgeo commented on #5
Ok, I think I have done this now, but I would like to have it confirmed before I start with the new, alternative model. As much as possible should be fixed before I start on that model.

New CRS diagram:
![coordinate reference systems](https://cloud.githubusercontent.com/assets/7501876/25248160/82a3923a-260d-11e7-952c-728f34b099d7.png)

New CS Diagram:
![coordinate systems](https://cloud.githubuse

[2017-04-21 07:22] jetgeo commented on #5
Class Index renamed to IndexCS

[2017-04-21 12:35] jetgeo opened #7 "Changed modelling of Derived CRSs"
Extracted from #6 - Just the part with DerivedCRS
**(Separate branch for discussion)**

The objective is to simplify the modelling of derived CRSs by removing the derivedCRS class and allowing derivedCRSs to either inherit their baseCRSs datum (or datum.ensemble) or to have their own datum. For vertical CRSs the possibility of their reference frame being levelling, geoid or tidal based remains.

A

[2017-04-21 12:35] jetgeo opened #8 "Removal of the distinction between conversion and transformation"
Extracted from #6 - just the part with the distinction between conversion and transformation
**(Separate branch for discussion)**
The objective is to simplify coordinate operations through the removal of the distinction between conversion and transformation.

- [ ] Remove the aggregation currently from DerivedCRS to Conversion and replace it with one from DerivedCRS to SingleOperation.

- [ ] Move

[2017-04-21 17:14] RogerLott opened #9 "datums.Ensemble missing attribute"
In the Datums package when the datums.Ensemble class was first proposed (at that time in the CRS package) it had a mandatory attribute +ensembleInaccuracy:Measure which seems to have disappeared. I don't recall it having been deliberately removed so I suspect it has been accidentally dropped. It is an estimate of the positional differences in the ensemble of realizations. I think it should be rein

[2017-04-21 17:18] RogerLott opened #10 "datums.realizationMethod codelist"
In the Datums package we have a new codelist called RealizationMethod. This is used only by an attribute in the VerticalReferenceFrame class. But the geodetic concept of realization is more general than just applying to vertical. I therefore suggest that we change the name of this codelist (and the datatype for VerticalReferenceFrame.realization) from RealizationMethod to VerticalRealization.

[2017-04-23 22:08] jetgeo commented on #9
I don't remember ever creating this attribute, so I guess I must have forgotten it somehow. Good example of the advantage of handling single issues on Github.
I have added it now as ensembleAccuracy with datatype DQ_PositionalAccuracy and multiplicity 1..1, as suggested. I believe "...Accuracy" is a better term then "...Inaccuracy", according to the terminology in 19157.
![datum](https://cloud.git

[2017-04-23 22:16] jetgeo commented on #10
OK, done.
![datum](https://cloud.githubusercontent.com/assets/7501876/25317919/2f9883fc-2883-11e7-90b7-902958e715be.png)

[2017-04-24 20:10] jetgeo commented on #7
Ok, done (I think). Probably have to do some cleaning in the diagrams.
The constraints from DerivedCRS has been moved to SingleCRS, for discussion.
New diagrams in https://github.com/ISO-TC211/ISO19111/tree/master/Figures/Alternative%20version%20DerivedCRS

[2017-04-24 20:26] jetgeo commented on #7
Forgott this:

- [ ] For a derived CRS the two new associations from SingleCRS (named derivedCRS and Definition) are both required: is there any way of linking them together in UML? (Constraint on SingleCRS {count(baseCRS+conversion)=0 or count(baseCRS+conversion)=2 implies singleCRS is derived} ??)

[2017-04-24 20:27] jetgeo commented on #6
Ok, think this ihas been done now.
Still left:

- [ ] For  a derived CRS the two new associations from SingleCRS (named derivedCRS and Definition) are both required: is there any way of linking them together in UML? (Constraint on SingleCRS {count(baseCRS+conversion)=0 or count(baseCRS+conversion)=2 implies singleCRS is derived} ??)

New figures in https://github.com/ISO-TC211/ISO19111/tree/master

[2017-04-24 20:28] jetgeo commented on #5
Comments from Eric Hirschcorn:
Some friendly comments on a subset of Peter’s suggestions:

1.	I agree that ImageCRS should be subtyped from the simpler IndexCRS. Not the other way around.

2.	I really like Peter’s suggestion of adding an overall direction (or orientation) to the ImageCRS definition.  However, please call it an “image” direction (or orientation), not “screen”.  A computer screen di

[2017-04-24 20:41] jetgeo commented on #8
OK, figures in https://github.com/ISO-TC211/ISO19111/tree/master/Figures/Alternative%20version%20Transformation

[2017-04-25 14:29] jetgeo commented on #5
Comments from Eric Hirschcorn:
Just a correction to an obvious mistake in my last email on point 5:

“origin-in-corner” usually refers to the top left corner.  Adding a directionality attribute (from point 2) adds constraints on “origin-in-corner”.  For directionality starting from top down, “origin-in-corner” refers to the top left corner.  For directionality starting from the bottom, “origin-in-

[2017-04-27 09:50] jetgeo commented on #5
From: Hedley, Mark
Sent: 25 April 2017 10:13

I am pretty wary of any IndexCRS provision within the CRS standard.  I would be concerned to see ImageCRS dependent on IndexCRS by way of a subtype.

I think that the requirements for ImageCRS can be very well met without taking this approach and I think that this approach will cause issues within the standard and for implementers of the standard.

The

[2017-04-27 09:50] jetgeo commented on #5
Fra: Hedley, Mark
Sendt: 27. april 2017 11:11

I would like to follow up a little on my earlier post.

I would like to note that ImageCRS is published in ISO19111:2007
Its removal from the new version of ISO19111 does require justification; the continuation of its presence is to some extent expected.

IndexCRS does not exist in ISO19111:2007 at all.
Its inclusion requires significant justification

[2017-04-27 09:51] jetgeo commented on #5
Fra: Peter Baumann
Sendt: 27. april 2017 11:21

Hi Mark, all,

there are manifold use cases for n-D IndexCRSs. Fortunately, they are condensed in one place, the OGC coverage data model, CIS [1], so looking at this shows the mechanisms - concretely, the CIS 1.1 package contains a series of examples, including IndexCRSs (which, BTW, are served by the OGC resolver [2] already since some time as cover

[2017-04-27 10:17] pebau commented on #5
adding the references pertaining to the above mail:
[1] http://external.opengeospatial.org/twiki_public/CoveragesDWG/CoveragesBigPicture
[2] http://www.opengis.net/def/crs/OGC/0/Index3D

[2017-04-28 09:07] RogerLott commented on #5
Let's be quite clear here: this is not a quest for finding new CRSs. We are revising Abstract Spec Topic 2, currently called "spatial referencing by coordinates" but it is proposed that this be changed to "referencing by coordinates". We want to be sure that Topic 2 has all of the appropriate foundations to support the CRS requirements of grids and coverages, but also that there is no overlap or g

[2017-04-28 11:07] desruisseaux commented on #5
I tend to agree with Mark position, about whether `IndexCRS` or `ImageCRS` should really be part of ISO 19111. Do we have a use case for them? On my side, coverages are almost always associated to another kind of CRS (`GeodeticCRS`, `ProjectedCRS`, _etc._) and I use `ImageCRS` only as a fallback meaning "no real CRS information available". But I could as well use some kind of `null` value for that

[2017-04-29 11:16] RogerLott commented on #7
- [ ] On the Operations part 1 diagram the label "Definition" should be on the association from SingleCRS to Conversion, not on the verticalCRS subtype.

[2017-05-03 08:26] marqh commented on #5
[code]

Hello Peter

I feel that the unit problem is not well solved by the use of '1' as a unit for an index

Assigning a unit of 1 to a coordinate strongly implies that the coordinate is continuous and that the values can be used to represent some comprehension of size.

This seems very different from an index value, which can represent adjacent and non adjacent entities of variable size.

Some

[2017-05-04 06:55] RogerLott commented on #8
SingleOperation class will need to be changed from Abstract to Concrete.

[2017-05-04 06:59] RogerLott commented on #6
I don't know how much of the 19111 meeting you managed to pick up, but we agreed that:

a)	For coordinate operations a conversion is a coordinate operation used within the description of a derived CRS in which the source and target CRSs are implied, and that a transformation is a coordinate operation in which the source and target CRSs are explicitly given. So the terms remain but with changed def

[2017-05-04 07:17] RogerLott commented on #5
On Wednesday 3rd May Chris Little wrote:

Roger and colleagues,

I have been belatedly catching up with this interesting scoping debate about what is and is not a CRS.

If we were starting from scratch, I would take the view that an abstract CRS is about relating coordinate systems to objects via datum . I would not include an Image CRS as a special case that mixes several concepts of coordinates,

[2017-05-04 07:17] RogerLott commented on #5
Telecon 2017-05-03 agreed that ImageCRS and its component ImageDatum including PixelInCell should remain in model to cover an image space in which there are continuous regular axes e.g. when pixels/voxels are same dimensions and contiguous. The description of the PixelInCell attribute cellCorner to be modified to clarify that the corner is that with minimum coordinates.

Irregular grids and indexi

[2017-05-04 08:27] pebau commented on #5
hm, just for documenting: it's a pity and IMHO a lost opportunity:

- ImageCRS is useful, but not conceptualized appropriately (eg, I am surprised
to see it as a continuous space while screens today are discrete with fixed
resolution each; further, it is classically 2D "flat"; etc.)

- IndexCRS is definitely required by coverages; it is definitely not a grid
definition extrinsically (see my last m

[2017-05-04 13:38] jetgeo commented on #7
Closing this, based on the conclusions from the meeting 2017-05-03.

[2017-05-04 13:38] #7 closed, assigned to jetgeo

[2017-05-04 13:40] jetgeo commented on #6
Closing this, following up conclusions as separate issues

[2017-05-04 13:40] #6 closed, assigned to jetgeo

[2017-05-06 06:46] jetgeo commented on #8
From @RogerLott:
Then there is a question regarding the role names for the associations from DerivedCRS to SingleOperation (currently +conversion) and from VerticalCRS to SingleOperation (currently +transformation). With the removal of the Conversion and Transformation classes are these role names still appropriate? My personal inclination is to leave them as they are, as it might help in the text

[2017-05-06 06:54] jetgeo commented on #8
Think this is done now.
![operations part 1](https://cloud.githubusercontent.com/assets/7501876/25770600/9fb2f400-3239-11e7-9543-49ae4fcf670e.png)

[2017-05-06 07:10] jetgeo commented on #5
Extracted from https://github.com/ISO-TC211/ISO19111/issues/6:

- [x] Delete the IndexCRS class

- [x] Delete the IndexCS class

- [x] Remove +index attribute from the AxisUnit class

[2017-05-06 07:17] jetgeo commented on #5
Ok, done. New figures in https://github.com/ISO-TC211/ISO19111/tree/master/Figures/Main%20version

[2017-05-06 07:17] #5 closed, assigned to jetgeo

[2017-05-06 07:21] jetgeo opened #11 "DerivedCRS and its associations"
From @RogerLott:

For derived CRS we have agreed that
·        the derived CRS inherits the datum of its base CRS and we want the model to show this.
·        a derived CRS does not necessarily have to be of the same type as its base CRS.
·        the derivedCRS type depends upon its CS. Put another way, the constraints on CS-CRS associations apply to derivedCRSs. So for example a derivedEngineeri

[2017-05-06 08:30] jetgeo commented on #11
Ok, think I have done this now:

- Removed multiple inheritance for DerivedCRSs
- Moved inheritance for DerivedGeographicCRS from DerivedCRS to GeographicCRS (this was missing in the old version - is it correct this way?)
- Added identical CS Associations for DerivedCRSs as for "main" CRSs.
- Created separate CS-DerivedCRSs diagram

New figures in https://github.com/ISO-TC211/ISO19111/tree/master/

[2017-05-07 07:32] jetgeo commented on #11
From @RogerLott:

- [x] One omission. In the CS-DerivedCRS diagram, CartesianCS should be subtyped off Affine CS so that a DerivedImageCRS is associated with both affine and Cartesian.

- [x] On the CS-CRS diagram I think it would be useful if there was a note on DerivedCRS to say "See part 2 for CS-DerivedCRS associations". (This would refer to the CS-DerivedCRs diagram).

- [x] Is it correct for

[2017-05-07 07:53] jetgeo commented on #11
OK, done. I have no strong feelings about subtyping for DerivedGeographicCRS, my thinking was just that it should be the same structure as for the main CRS. I guess it will work either way.
https://github.com/ISO-TC211/ISO19111/tree/master/Figures/Main%20version

[2017-05-18 07:49] jetgeo commented on #11
From @RogerLott (2017-05-17):
Derived CRS. We were not sure that we are there yet with this part of the model. We again discussed grids derived from map grids, i.e. CRSs derived from projected CRSs. As projected CRS is itself a derivedCRS, this is a double derivation! We think it would be useful if the model showed that a CRS may be derived from a projectedCRS. In the last iteration we made some c

[2017-05-18 07:54] jetgeo opened #12 "ImageDatum/CRS and EngineeringDatum/CRS"
From @RogerLott (2017-05-17):
A rather pedantic issue. The definition of imageDatum is "engineering datum which defines the relationship of a coordinate system to an image". This implies that ImageDatum should be subtyped off EngineeringDatum. But the UML does not follow this, ImageDatum is currently subtyped off Datum. We have discussed this minor anomaly and think the image datum definition is f

[2017-05-18 07:58] jetgeo opened #13 "Associations between CoordinateOperation and Data Epoch"
From @RogerLott (2017-05-17):
Another minor issue. For the associations between CoordinateOperation and Data Epoch, we wonder whether we can find some more meaningful names for either the associations or role names. These are operations on coordinates to change the epoch. Epoch = time. So source and target are not intuitively connected with time. **startEpoch** and **finishEpoch**, or **beginEpoch

[2017-05-18 08:09] jetgeo opened #14 "Add updated Context Diagrams"
Add updated contect diagrams for all classes, once the model is stable.

[2017-05-18 08:35] jetgeo commented on #11
OK, I have reverted back to a previous version with multiple inheritance for DerivedCRSs. I don't think I have done any other changes after that version, so it should be OK.
I added the subclass for ProjectedCRS, but I think it is better to name it "DerivedProjectedCRS". This is in line with the structure for the other DerivedCRSs, and the name "derivedFromProjectedCRS" is more of a operation name

[2017-05-18 10:14] jetgeo commented on #12
Ok, done. New figures in https://github.com/ISO-TC211/ISO19111/tree/master/Figures/Main%20version.

[2017-05-18 10:42] jetgeo commented on #13
I am not really sure that I agree here.
If the purpose of the operations is to change epoch for coordinates from one given epoch to another, "Source" and "Target" sounds more intuitive to me. "Start" and "finish" or "begin" and "end" sounds more like we have a time period starting from start/begin and ending at "finish/end"?

[2017-05-18 13:02] RogerLott commented on #11
Derived CRSs

See attached 'rules' for derived CRSs.

[Derived CRSs 2017-05-18.docx](https://github.com/ISO-TC211/ISO19111/files/1010937/Derived.CRSs.2017-05-18.docx)

[2017-05-18 13:13] RogerLott commented on #11
[Derived CRSs 2017-05-18v2.docx](https://github.com/ISO-TC211/ISO19111/files/1010968/Derived.CRSs.2017-05-18v2.docx)

Sorry, a bit missing from the previous upload, corrected here with missing text in blue.

[2017-05-18 15:11] RogerLott commented on #13
In a dynamic CRS a point on the surface of the earth is moving. We are NOT changing epoch. We are changing COORDINATE VALUES for the moving point over a user-defined _period_ between two epochs.  SourceEpoch and TargetEpoch or SourceTime and TargetTime do not feel correct. What about PeriodStart and PeriodEnd? 19108 TMPeriodDuration expects an 8601 string for PeriodDuration, epochs are expressed a

[2017-05-18 15:54] mcraymer commented on #13
[Checking if my email reply will work. Or maybe I have to log into GitHub to reply?]

I don't like the terms "start" & "end" in describing the epochs. That might be interpreted as the very start and very end of the movement with no movement before and after those times. Of course most crustal movements have lasted and will last for millennia long before and after the typical epochs that will be us

[2017-05-18 16:10] mcraymer commented on #13
Or "FromEpoch" and "ToEpoch" or "FromDate" and "ToDate". I forgot to mention I also don't like the term "period". I think it makes things unnecessarily more complex and is not as intuitive as the simple "from" and "to".

[2017-05-19 06:00] RogerLott commented on #11
Are the 'rules' for derived CRSs met through the existing diagrams but with this addition:
![g2 cs crs associations_rl](https://cloud.githubusercontent.com/assets/27864408/26235091/dbc963bc-3c60-11e7-86f1-cb2268c2a3c0.png)

[2017-05-26 13:27] jetgeo commented on #11
New diagram:
![cs crs associations](https://cloud.githubusercontent.com/assets/7501876/26496436/d147c61e-4227-11e7-9695-43b19c25c5e1.png)

[2017-05-27 14:41] RogerLott opened #15 "Extent description"
The diagram "Identified Object with data types from ISO19115" is missing the description attribute from the EX_Extent class, but is included in the constraint. The diagram does show all of the *element role names against the associations so only description is missing from the formula in the constraint. As this is an important attribute for CRS usage I suggest it should be included in the diagram.

[2017-05-29 05:50] jetgeo commented on #15
Agree. New version uploaded.

[2017-05-29 05:50] #15 closed, assigned to nobody

[2017-05-30 12:26] jetgeo opened #16 "Coordinate Metadata"
Create new class CoordinateMetadata with attributes

- position:DirectPositionv[1..*]
- crs:CRS
-epoch:Measure[0..1]

[2017-05-30 12:27] jetgeo opened #17 "Operations on CoordinateOperation"
2 Operations on CoordinateOperation:  transform(position:DirectPosition )-->(position:DirectPosition ), transform(CoordinateSet )-->(CoordinateSet )

[2017-05-30 12:28] jetgeo opened #18 "Split DataEpoch diagram"
Split DataEpoch diagram in two: One without CoordinateOperation, and one without Geometry

[2017-05-30 12:36] jetgeo commented on #8
What about the constraint on CoordinateOperation, refering to Conversion?

[2017-05-30 13:47] jetgeo commented on #12
Revert. The definition will be changed instead.

[2017-05-30 14:13] jetgeo commented on #8
Revert...

[2017-05-30 14:57] jetgeo opened #19 "Add definitions in the model"
Add/update definitions in the UML model from the document.

[2017-05-31 07:00] RogerLott commented on #8
PT agreed that this constraint was required and the way to enforce it was be re-instating Conversion and Transformation classes.

[2017-05-31 07:04] RogerLott commented on #12
PT decided to resolve ambiguity between model and text by reverting to Image CRS/ImageDatum being sutyped directly off singleCRS/Datum and changing text to conform to this.

[2017-05-31 07:34] jetgeo commented on #12
OK, done.

[2017-05-31 07:34] #12 closed, assigned to jetgeo

[2017-05-31 08:23] jetgeo commented on #8
OK. Done.

[2017-05-31 08:40] jetgeo commented on #18
Ok, done.

[2017-05-31 08:40] #18 closed, assigned to jetgeo

[2017-05-31 09:05] jetgeo commented on #16
Roger will come up with a better name for the class

[2017-05-31 11:40] jetgeo commented on #12
Done for Datum too.

[2017-06-09 08:37] jetgeo commented on #16
From @RogerLott:
As discussed yesterday, I am not happy with the name 'coordinate set' for the container for CRS and CoordinateEpoch which John discussed in Tuesday's meeting. I have talked to a couple of folks still here in Stockholm and we think that 'Coordinate Metadata' is a better term. Could you use that when you update the CoordinateOperations with Data Epoch diagram to show the container,

[2017-06-09 11:47] jetgeo commented on #16
Done?
![coordinate metadata](https://user-images.githubusercontent.com/7501876/26974601-56116e32-4d1c-11e7-9dbf-f251fb3576bd.png)

[2017-06-09 12:00] jetgeo commented on #16
I am not sure about the name "CoordinateMetadata". As I understand it, it is a group of positions with common crs and epoch. To me, "CoordinateSet", "PositionSet", or "..Container" seems better.

[2017-06-09 12:43] jetgeo commented on #17
OK, done. TBD.

[2017-06-09 14:57] RogerLott commented on #16
Coordinate Set is not possible as it is already in use (in the 19111 text and also in the TC211 TMG spreadsheet so possibly used by other standards too). There are secondary reason why I don't like it as John used it  – it might be abbreviated to CS which is also used for coordinate system. But the main issue is that it is already in use, so we have to find something else.

I have used Coordinate

[2017-06-09 15:07] RogerLott commented on #17
These transformations are necessary in the CoordinateOperation class.  And it is necessary for them to appear in the CoordinateOperations_with_Data_Epoch diagram.
But do they need to appear in the OperationsPart1 diagram? That package is describing the requirements for defining the attributes of a coordinate operation. These transforms are not relevant for that. I suggest reverting to the previous

[2017-06-12 12:15] RogerLott commented on #19
[19111 UML descriptions 2017-05-30.xlsx](https://github.com/ISO-TC211/ISO19111/files/1068070/19111.UML.descriptions.2017-05-30.xlsx)
Definitions for classes and attributes from WD 2017-05-30 (post Stockholm) are in attached spreadsheet. Unchanged, changed and new are differentiated by colour.

[2017-06-14 10:28] jetgeo opened #20 "Cardinality from Geometry to CRS"
Question from @RogerLott: There is a note on the Geometry class "{if … then epoch is mandatory}". The cardinality on the association from Geometry to CRS is 1..*. If there is more than one CRS, does this constraint work on every one of them?

![relation to geometry](https://user-images.githubusercontent.com/7501876/27127791-a2482500-50fc-11e7-97cd-4d6a489113c2.png)

[2017-06-14 10:28] jetgeo commented on #20
Shall the cardinality really be 1..*? Can a geometry have several CRSs?
It is 0..1 in the old 19111, did we change this at some point?

[2017-06-14 10:31] jetgeo commented on #20
From @RogerLott:
I have no recollection of us discussing this cardinality. However I have just looked in the revised 19107 where John has it as 1..*. So I presume this cardinality came from that.

19107 says:
6.2.4.3 Attribute rsid: RSID [1..*]
In many applications, such as linear reference systems (ISO 19148) and moving features (ISO 19141), extra columns are added to the coordinates for "other"

[2017-06-14 10:33] jetgeo commented on #20
OK, done.
![relation to geometry](https://user-images.githubusercontent.com/7501876/27128123-aade0396-50fd-11e7-8ae7-665c8e50f4b1.png)

[2017-06-14 10:33] #20 closed, assigned to nobody

[2017-06-14 11:33] jetgeo commented on #16
I have been thinking about this, and looked at the description in the new version of the document. From the description in clause 6 (figure 2 and 3), I think this can be modelled a bit different, and more similar to the "non-UML-figures".
I believe that what's important here is to make sure that all coordinates in a set are connected to the same CRS (and epoch if relevant). And as I see it, there

[2017-06-14 11:37] jetgeo commented on #17
I think all attributes and operations for the clas should be shown in at least one diagram. This would then be either "Operations Part 1" oe "CoordinateOperations with Data Epoch".

[2017-06-14 14:24] jetgeo commented on #10
Change attribute to method and codelist to VerticalMethod

[2017-06-14 14:36] #1 closed, assigned to jetgeo

[2017-06-14 14:36] #13 closed, assigned to jetgeo

[2017-06-14 14:36] #11 closed, assigned to nobody

[2017-06-14 14:36] #9 closed, assigned to jetgeo

[2017-06-14 14:43] jetgeo commented on #17
Hide the constraint in Data epoch diagram

[2017-06-14 15:03] jetgeo commented on #16
- [ ] Check the 19107 model for DirectPosition. Can it be used instead of CoordinateTuple? It has crs and dimention.

Add constraints describing the connection between
- [ ] CoordinateOperation.sourceCRS and CoordinateMetadata.crs (for input to the operation transform)
- [ ] CoordinateOperation.sourceEpoch and CoordinateMetadata.coordinateEpoch (for input to the operation transform)
- [ ] Coordina

[2017-06-14 15:14] jetgeo commented on #10
OK, done.

![datum](https://user-images.githubusercontent.com/7501876/27140082-f39fbaf8-5124-11e7-846b-33c5b61d86e2.png)

[2017-06-14 15:14] #10 closed, assigned to jetgeo

[2017-06-14 17:09] RogerLott opened #21 "Axis Direction codeslist"
Add the following axis direction attributes from 19162 to the 19111 AxisDirection class:
(all Conditional, cardinallity 1)

**UML identifier**          **Description**
- [x]  forward                    Axis positive direction is forward; for an observer at the centre of the object this is will be towards its front, bow or nose.
- [x] aft	                       Axis positive direction is aft; for a

[2017-06-14 17:16] RogerLott commented on #19
[19111 UML descriptions 2017-06-14.xlsx](https://github.com/ISO-TC211/ISO19111/files/1075367/19111.UML.descriptions.2017-06-14.xlsx)
Additional definitions for the Axis direction attributes added from 19162 included in this version.

[2017-06-14 17:30] RogerLott commented on #19
The spreadsheet I sent 10 minutes ago is ok for the additional AxisDirection attributes but does not address the changes made to the VerticalMethod or CoordinateMetadata classes agreed this afternoon. I will send an update.

[2017-06-14 19:15] jetgeo commented on #17
This cannot be done, given that we are adding other constraints that are relevant for the diagram (Ref https://github.com/ISO-TC211/ISO19111/issues/16). You can't hide one constraint, unfortunately.

[2017-06-14 19:28] RogerLott commented on #17
Understand, but can we get around this another way? Move the constraint re mandatory source/target CRS from the CoordinateOperation class to each of the PassThroughOperation, ConcatenatedOperation and Transformation classes?? Then it cannot appear in the coordinate metadata diagrams.

[2017-06-14 19:36] RogerLott commented on #16
Is the data type correct for CoordinateTuple.coordinate? Could be integer. And must have units. (Clause 4 definition 4.5 refers:
coordinate
one of a sequence of n numbers designating the position of a point in n-dimensional space
Note 1 to entry:	In a coordinate reference system, the coordinate numbers are qualified by units.

Better as Measure?

[2017-06-14 19:37] jetgeo commented on #16
DirectPosition includes rsid (19107 data type) and dimension (integer). I believe that we do not want to have those attached to the positions in a CoordinateSet in the 19111 model. Instead, we want the coordinates with a crs and possibly an epoch. Therefore, I do not think we can use DirectPosition. And DirectPosition can't be a subtype of CoordinateTuple, unless the 19107 EC creates the 19107 mod

[2017-06-14 20:16] jetgeo commented on #10
Changed back to realizationMethod and RealizationMethod based on mail discussion

[2017-06-14 20:21] jetgeo opened #22 "Navigability for Datum-CRS"
I think the Datum-CRS associations must be navigable both ways, because of the ellipsoid constraint. We may have discussed this earlier?

![datum](https://user-images.githubusercontent.com/7501876/27152909-c5bd82e8-514f-11e7-9813-649b7c81035a.png)
![datum crs associations](https://user-images.githubusercontent.com/7501876/27152911-c896eed2-514f-11e7-9369-3bc8b066d202.png)

[2017-06-14 20:24] jetgeo commented on #17
Yes, that will work. Even though it might not be best practice to repeat the constraint in three subclasses as long as there are no subclass without the constraints. But let's do that.
With this solution, I think we should also hide the operation (transform()) in the Operations Part 1 diagram. It makes no sense without the constraints and the CoordinateSet data type. I think we can manage without

[2017-06-14 20:48] RogerLott commented on #17
The Conversion class is subtyped off CoordinateOperation and will not have this constraint.

Fine, that will make the diagrams in the document better fitted to the text. But the tables in the document will need to include all attributes, associations, operations and constraints, i.e. be consistent with the context diagrams.

[2017-06-14 21:49] RogerLott commented on #8
After reverting, SingleOperation needs to be changed back to Abstract (italic font).

[2017-06-15 06:57] RogerLott commented on #16
Some random thoughts:

CoordinateTuple, CoordinateSet and CoordinateMetadata model in UML terms the description of concepts in clause 6. But should the constraint currently on Geometry (in the Relation to Geometry diagram) "{crs.datum.oclAsType(DynamicReferenceFrame or DynamicVerticalReferenceFrame) implies count(epoch)=1} be on the CoordinateSet class?

Questions are
a)	how does CoordinateSet rel

[2017-06-15 08:02] jetgeo commented on #21
Ok. Done. The new values are added at the bottom of the code list. Is the sorting ok?
![coordinate systems](https://user-images.githubusercontent.com/7501876/27171413-b6298d10-51b1-11e7-8b95-29635849569a.png)

[2017-06-15 08:05] jetgeo commented on #8
Ok, done.

[2017-06-15 08:05] #8 closed, assigned to jetgeo

[2017-06-15 09:54] jetgeo commented on #17
Ok, done.
![operations part 1](https://user-images.githubusercontent.com/7501876/27175790-99d8480e-51c0-11e7-9a25-5552c29f0416.png)

Descriptions of the constraints, extracted from the old common constraint:
- **PassThroughOperation** - {count(sourceCRS)=1 and count(targetCRS)=1} - Description: _The "sourceCRS" and "targetCRS" associations are mandatory for coordinate transformations only._
- **Si

[2017-06-15 10:43] jetgeo commented on #16
I think yes, if we are going to keep and use the CoordinateSet class. But I am also thinking that maybe the Geometry interface from 19107 with the relations specified in 19111 might be better. Through those associations, we make sure Geometry is connected to CRS and DataEpoch in 19111.
**However - will this work for temporal? And Geometry is using DirectPosition, with coordinates as real.**

Also:

[2017-06-15 12:17] RogerLott commented on #21
There are natural groups in this list that I feel should be kept together, e.g. all of the compass directions, all of the column/row/displays, etc. On those grounds there is no case for an alphabetical sort. The only minor improvement I could suggest is to keep all of the spatial directions together so move future and past to between awayFrom and unspecified. This is not very important. Just as, p

[2017-06-15 12:46] RogerLott commented on #17
Descriptions are not correct.

    PassThroughOperation - {count(sourceCRS)=1 and count(targetCRS)=1} - Description: A pass-through coordinate operation specifies that a subset of a coordinate tuple is subject to a specific coordinate operation. The "sourceCRS" and "targetCRS" associations are mandatory.

    ConcatenatedOperation - {count(sourceCRS)=1 and count(targetCRS)=1} - Description: An ord

[2017-06-15 12:46] jetgeo commented on #21
It is possible to group the values by using stereotypes "compassDirections", "grid", etc. This has no practical consequences, it would be just for perception. But I leave it to you to decide whether it's worth it.

[2017-06-15 14:20] RogerLott commented on #16
It is important that we connect Geometry and CRS. We have to have a good reason for not doing so.

I think the above model is basically ok. Geometry may be more than just points, it could have line type information. But I do not see any reason why transform(Geometry) could be problematic - it is sufficiently general.

It does however cover only the spatial part. It is still necessary to have simet

[2017-06-15 14:34] jetgeo commented on #17
You're right, the constraint should of course be on Transformation, not on SingleOperation. Didn't see that, sorry!
The definitions I referred to were based on the note in the old Operations Part 1 diagram (in the 2007-version). I think it is good to have this text implemented in the class definitions, as you have described. I have removed the descriptive text from the constraints, they are just p

[2017-06-15 14:34] #17 closed, assigned to jetgeo

[2017-06-15 15:11] jetgeo commented on #16
Ok, so here's a new suggestion:
I think we can use DirectPosition instead of CoordinateTuple anyway. The rsid attribute on DirectPosition is derived, and can be so from the crs attribute in CoordinateMetadata.
By using DirectPosition we get the connection to 19107, and we may still transform time positions, as DirectPosition is just positions, not necessarily geometry.
there is still a question ab

[2017-06-15 15:58] RogerLott commented on #16
I am ok with this approach.

So we take it that the units for coordinates are part of the CRS description. The coordinates therefore are not Measure but some form of number. There are definitely cases where these numbers will be integers. If Real can include integer (and from 19103:2015 figure 9 I think it can) then Real is ok. Else it ought to be Number and DirectPosition is, in my view, in need

[2017-06-15 16:21] RogerLott commented on #22
I don't recall any discussion on this but seems logical to allow the constraint re ellipsoid on GeodeticReferenceframe to work. I don't see any backward compatibility issues.

[2017-06-15 16:21] #21 closed, assigned to nobody

[2017-06-15 16:59] #22 closed, assigned to nobody

[2017-06-16 08:16] RogerLott commented on #16
A possibly naïve question. In the Coordinates.CoordinateMetadata class, is the data type for the coordinateEpoch attribute correct? Should it be DataEpoch (from where the Measure data type is obtained)?

[2017-06-16 08:18] RogerLott opened #23 "Common Classes"
The package name is 'Common classes'. All other package names have each word in capitals. For consistency should it be 'Common Classes'?

[2017-06-16 10:26] jetgeo commented on #23
Agree, done.

[2017-06-16 10:26] #23 closed, assigned to nobody

[2017-06-16 10:38] jetgeo commented on #16
Agree, done.
This will make the model more harmonized, with all the coordinateEpoch associations and attributes based on the same class.

[2017-06-16 10:38] #16 closed, assigned to jetgeo

[2017-08-16 15:42] marqh opened #24 "DataType in table 45"
The aim of this ticket is to propose a comment to the 19111 editing committee raising this issue for discussion.

19111 CD table 45 (p51)
There may be an inconsistency or a mis-interpretation in the Data Type field usage in
this table.
The data type for axisUnitID is 'unitOfMeasure'.
Are the definitions of:
temporalCount Integer
temporalMeasure Measure
temporalString DateTime

consistent with this

[2017-08-16 15:47] marqh opened #25 "Calendar optional"
The aim of this ticket is to propose a comment to the 19111 editing committee raising this issue for discussion.

To provide less verbose syntax, such as for WKT-CRS, and to provide
backwards compatibility with ISO19162 WKT-CRS v1.0 I propose that
Calendar is made optional within the 19111 model.

this would enable current examples in ISO19162 to continue to be used, e.g.

[code]

as well as fully

[2017-08-16 15:50] marqh opened #26 "AxisUnit class and time quantities"
The aim of this ticket is to propose a comment to the 19111 editing committee raising this issue for discussion.

In 19111 Figure 13 (p44) the AxisUnit is defined as a union of
axisUnitID, temporalCount, temporalMeasure, temporlString.
This provides the facility to strongly type the different temporal
entities, as integer, float and string respectively.
Does this suggest that separate keywords sho

[2017-08-16 15:50] marqh opened #27 "temporal backwards compatibility for 19162"
The aim of this ticket is to propose a comment to the 19111 editing committee raising this issue for discussion.

In order to support backwards compatibility for 19162, I would like to propose a way to interpret the use of `TIMEUNIT` which is consistent with the current 19111 proposal.

The text below is a way that this could be achieved.  If this interpretation is deemed suitable then my view is

[2017-09-12 12:08] jetgeo commented on #24
See a preliminary figure bellow. I am not sure how to handle the constraints -  what are the situations that require integer, what situations require floats etc?
![coordinate systems](https://user-images.githubusercontent.com/7501876/30325086-abc41d1a-97c3-11e7-9847-618e914d6010.png)

[2017-09-12 13:22] jetgeo opened #28 "ImageCRS etc"
From the meeting in Southampton 2019-09-12:
Delete ImageCRS, DerivedIMageCRS and ImageDatum.

New figures (See also https://github.com/ISO-TC211/ISO19111/tree/master/Figures/Main%20version):
![coordinate reference systems](https://user-images.githubusercontent.com/7501876/30327949-2e02f29c-97ce-11e7-92f8-86f90fe7b1fb.png)

![derived crs](https://user-images.githubusercontent.com/7501876/30327953-3

[2017-09-12 13:24] jetgeo opened #29 "Data epoch change"
Suggested new model (see also https://github.com/ISO-TC211/ISO19111/tree/master/Figures/Main%20version):

![operations part 1](https://user-images.githubusercontent.com/7501876/30328035-789006b0-97ce-11e7-8f26-8aefbb527b93.png)

[2017-09-12 13:57] marqh commented on #24
@jetgeo the situations that require coordinate data type constraint are for OrdinalCS and TemporalCS.  In some cases, as explicit constraint is provided on these CS instances.

For example,
* a TemporalCS constrained to datatype integer is explicitly the TemporalCount we previously defined
 * coordinate values are whole calendar years
* a TemporalCS constrained to datatype datetime with a PseudoUn

[2017-09-12 13:58] marqh commented on #24
Martin suggested that TemporalCS may be a specialisation of OrdinalCS within this model, limiting the general case to 1 dimension and used for time; this may be useful to manage the constraint, or too many levels of specialisation, I am not sure

there is a specialisation already, perhaps only ExtendedCS is required, but this could be renamed to OrdinalCS

[2017-09-12 14:22] marqh commented on #24
@jetgeo
in order to support the requirements from the Coverage community, I think an extra entry is required in the pseudoUnit code list, to enable a generic, non-temporal case to be defined.

the known case for this is for index values, which have no sensible unit.  I would suggest that `None` is a valid entry for this code list.  I would prefer this to be explicit, i.e.
[code]
but i think it is

[2017-09-12 14:23] marqh commented on #26
the updates detailed in #24 impact this propsal

If the proposals in #24 are adopted, then the terms `TIMECOUNT` `TIMEMEASURE` and `TIMESTRING` do not map to terms in 19111

This would strongly favour the `TIMEQUANTITY` approach, with the pseudoUnit defined

This interpretation would mean that the query raised in this ticket is addressed and no change to 19111 is required

[2017-09-13 15:55] marqh commented on #24
@jetgeo on the subject of the pseudounit code list.  I am keen to provide the functionality for temporal periods, such as geological eras and other discrete quantities.

This seems like a general case that should be handled simply, rather than overly controlled

I am also conscious that we should not have a code list which just keeps growing to meet bespoke use cases

I think having a pseudoUnit o

[2017-09-13 21:44] RogerLott opened #30 "Add new subtype of single CRS"
The editing committee greed that a new class should be subtyped off Coordinate Operations::SingleOperation. The proposed class name is DataEpochChange (but see below).  One  {mandated} attribute: operationVersion: CharacterString. Constraint: targetCRS = sourceCRS. It is therefore similar to Transformation except for the constraint.

The constraint is to show that this is a change of coordinate ca

[2017-09-13 21:45] RogerLott commented on #30
Sorry - this is same as issue #29

[2017-09-13 21:45] #30 closed, assigned to nobody

[2017-09-13 21:50] RogerLott commented on #29
At the meeting the class name "DataEpochChange" was proposed, but there was one significant objection to this. The objection is that DataEpochChange is not really what is going on. There is a change of coordinates caused by tectonic motion over the period between sourceCoordinateEpoch and targetCoordinateEpoch. To avoid the objection a better name for the class might be "CoordinateChangeByPointMot

[2017-09-13 22:06] RogerLott commented on #28
- [x] The PixelInCell class should also be deleted. (Actually it should be moved to the 19123-1 model).

[2017-09-13 22:23] RogerLott commented on #28
I am not sure about the ExtendedCS class. The purpose of the OrdinalCS class was to have the coordinateDataType as Integer. The model as created yesterday also allows it to be a characterstring or number. These are needed for TemporalCS but are they required for OrdinalCS?

[2017-09-14 10:32] marqh commented on #24
@jetgeo
Based on conversation with Martin and Roger, we believe that modifications to this figure as shown below better represent the concepts and constraints required to meet these needs

![cstemporal](https://user-images.githubusercontent.com/1557321/30424916-e662e63a-9936-11e7-9ccd-b26d66888946.png)

We do not believe that the `ExtendedCS` is required at all, this is to be removed.

Additionall

[2017-09-14 10:58] marqh commented on #29
I am in favour of `PointMotion` instead of `DataEpochChange`

for the constraint on this class
`targetCRS=sourceCRS`
reads a little better
(just reordered, the semantics are the same)

[2017-09-14 12:55] marqh commented on #25
based on discussions with Roger, Martin and I, we suggest that calendar is continued to be mandatory in the UML and table 62
Additionally, a statement is requested to be added, similar to the statement in table 51 (prime meridian) detailing the default behaviour

[code]

[2017-09-14 12:58] marqh commented on #28
see https://github.com/ISO-TC211/ISO19111/issues/24#issuecomment-329442261 supporting the removal of the ExtendedCS class

[2017-09-14 15:40] marqh commented on #24
@desruisseaux
@RogerLott
@jetgeo

Following discussion and consideration, I propose an amended PseudoUnit code list content.  I have included attribute descriptions, informative notes for each entry

I believe that the code list for PseudoUnit should be mandated to have no overlap with the allowed entries for UnitOfMeasure by this standard; may we do this?
This is because individual instances will

[2017-09-14 22:36] desruisseaux commented on #24
The overlap between `UnitOfMeasure` and `PseudoUnit` is language-specific. It exists in languages where `axisUnit = <value>` is all the information provided, but does not exist in strongly-typed languages like Java or C++ where the type has the effect of a name space. I think that UML is more like strongly-typed languages.

Nevertheless, names like `calendarMonth` add clarity, so I have no objecti

[2017-09-15 08:03] RogerLott commented on #24
I agree that an adjectival prefix to the pseudounits adds clarity. I have no preference for calendar or clock, If I were forced to choose between these two options I guess clock is more obviously associated with time, but its application to months that have no subdivisions may be hard to grasp.

[2017-09-15 08:09] RogerLott opened #31 "Triaxial ellipsoid"
The planetry science communirty have expressed a need for the model to support a triaxial ellipsoid. This could be done without any backward compatibility issues by adding to the Ellipsoid class (in the Datums package) one further optional attribute:
+semi-median axis: Length [0..1]

This would also be consistent with the triaxial ellipsoid extension documented in ISO 19162 annex D.

[2017-09-15 08:13] RogerLott commented on #27
Agree that this could be included in the 19111 text and that no change is needed to the model in this area.

[2017-09-16 14:22] jetgeo commented on #29
See bellow.
@RogerLott :Regarding the Source and Target association - you said "replace". Shall this class be the only one with associations to DataEpoch?

![operations part 1](https://user-images.githubusercontent.com/7501876/30512959-f17ebaec-9afa-11e7-8d91-a229f6cd07a4.png)

[2017-09-17 06:40] jetgeo commented on #25
The default value can be handled in the UML as well, as illustrated bellow.

![datum](https://user-images.githubusercontent.com/7501876/30518621-d979ab44-9b83-11e7-9c11-017a52b54d22.png)

[2017-09-17 06:49] jetgeo commented on #28
Ok, PixelInCell is removed.

 I am closing this issue and continuing the discussion on Temporal/Ordinal etc on #24.

[2017-09-17 06:49] #28 closed, assigned to nobody

[2017-09-17 07:02] jetgeo commented on #24
About the ExtendedCS class: The figure @marqh presented above will not work. The OrdinalCS class does not have a coordinateDataType attribute in that figure. The reason I added the ExtendedCS class was to give the coordinateDataType attribute to both OrdinalCS and TemporalCS. An alternative would be to have OrdinalCS as a subtype of TemporalCS.

[2017-09-17 08:34] desruisseaux commented on #24
We discussed about defining `OrdinalCS` as a sub-type of `TemporalCS` exactly for that reason. But the proposal became to keep those two types separated, have the `coordinateType` attribute only in `TemporalCS`, and to set on constraint on `OrdinalCS` saying that the coordinate type must be integer (no other type allowed). Maybe `constraint: coordinateType=integer` is not the proper way to express

[2017-09-17 08:35] desruisseaux commented on #24
About prefix to `pseudoUnit`, actually I do not propose to replace `calendar` by `clock` everywhere, but to keep `calendar` for year, month and day and use the `clock` prefix only for hour and minute.

[2017-09-17 08:44] desruisseaux commented on #25
It is fine for me. I was not aware of this notation. I searched on internet and found [one on IBM site](https://www.ibm.com/developerworks/rational/library/content/RationalEdge/sep04/bell/index.html) (search "default") using the same syntax for the same purpose. So it seems the proper way to do.

[2017-09-17 08:53] desruisseaux commented on #29
It seems to me that `ConcatenatedOperation` and `PassThroughOperation` also need the association to `DataEpoch`.

[2017-09-17 13:37] jetgeo commented on #24
OK, here's a suggested modified model. The requirement that the data type for coordinates in a OrdinalCS can either be handled as shown in the model, or as a part of the class definition.

The list of pseudoUnits is much shorter now - should the values microsecond, second, week, century and dateTime have been kept in the list?

![coordinate systems](https://user-images.githubusercontent.com/750187

[2017-09-17 13:41] jetgeo commented on #31
Se below

![datum](https://user-images.githubusercontent.com/7501876/30521357-9bf24c8c-9bbe-11e7-8f20-ace0f819a460.png)

[2017-09-17 13:50] RogerLott commented on #31
That looks fine. I will close the issue.

[2017-09-17 13:50] #31 closed, assigned to nobody

[2017-09-17 13:50] desruisseaux commented on #24
Thanks for the update. Isn't `coordinateType: CoordinateDataType = integer` meaning that `OrdinalCS` has a `coordinateType` whose default value is `integer`? Maybe the idea that `OrdinalCS` has no additional attribute (compared to its `CoordinateSystem` parent class) but has coordinates restricted to integers can only be specified in the text?

About the reduced list of `PseudoUnit`, we proposed t

[2017-09-17 14:13] RogerLott commented on #24
1. @jetgeo latest diagram to me looks fine as far as constraining an ordinalCS to having only integer as the datatype.

2. But there is one correction needed to the CoordinateDataType class. As in diagram from markh in this thread, the attribute +charaterstring should be removed and replaced by the attribute +dateTime

3. @jetgeo asked:

These should be deleted. microsecond and second are not requ

[2017-09-17 14:20] RogerLott commented on #25
This looks fine as means of dealing with the default calendar. I am closing the issue, but note that this version of the diagram is superseded by the change to the ellipsoid class covered in issue #31.

[2017-09-17 14:20] #25 closed, assigned to nobody

[2017-09-17 15:07] RogerLott commented on #29
@jetgeo asked

The only one of the 19111 classes (but DataEpoch is also associated to Geometry).

We have two concepts to deal with:
i) coordinates can be changed because they can be put through a coordinate operation can be applied to them so that they become _referenced to a different CRS_. The coordinate operation can be any of Conversion, Transformation, concatenatedOperation or passThroughope

[2017-09-17 16:10] RogerLott commented on #24
1. The three attributes in the CoordinateDataType class should be integer, real and **dateTime**. (no characterString).

2. @jetgeo please consider the first paragraph in the previous post from @desruisseaux. The intent is that:
(a) the axisUnit of the axis of a TemporalCS shall be either a pseudoUnit as an integer or a pseudoUnit as a real number or a dateTime. The model [including the dateTime c

[2017-09-17 19:37] jetgeo commented on #24
OK, I am a bit confused here now. Must admit that I am not quite following you.
@desruisseaux  and @RogerLott is correct that the model shows an initial value for coordinateDataType, not a constraint. That would have to be added in addition. Or we can just write the constraint in the definition, but it would not be as visible then. But @RogerLott writes that it the axisUnit that shall be integer,

[2017-09-17 19:40] RogerLott opened #32 "CS for DerivedProjectedCRS"
A Derived Projected CRS could be a grid. The DerivedProjectedCRS class therefore needs an association to all three of affineCS, CartesianCS and OrdinalCS.

If Cartesian CS remains a subtype of Affine CS the new union would be of AffineCS and OrdinalCS.

But I feel it might be better to not subtype CartesianCS off Affine CS and for the new union class to contain AffineCS, CartesianCS and OrdinalCS.

[2017-09-17 19:59] RogerLott commented on #24
Sorry, me not thinking straight. We are indeed trying to constrain the coordinate data type for OrdinalCS to be only integer. To do this it is necessary for an ordinal CS's axis to use a pseudo-unit of no unit. But @marqh said "- the PseudoUnit no_unit is not recommended to define cell (pixel, voxel) index coordinates for an image providing image space coordinates in continuous image space.  It is

[2017-09-17 20:29] jetgeo commented on #32
That would be something like this, except the change for AffineCS/CartesianCS. Awaiting discussion for that one.

![cs crs associations](https://user-images.githubusercontent.com/7501876/30524602-57e1c980-9bf7-11e7-949d-9d9ae7e1a7f5.png)

[2017-09-17 21:19] RogerLott commented on #32
A projectedCRS must have a CartesianCS. It cannot have an affineCS. Seems to me that the modular advantage that Martin argued to be the benefit of subtyping Cartesian off affine disappears once DerivedProjectedCS is introduced. I await Martin's perspective on my Cartesian/Affine relationship comment, but to avoid misunderstanding [at least by neophytes like me] I think the affineCS class should di

[2017-09-17 23:18] desruisseaux commented on #32
Maybe I need a little clarification about what is a grid of a derived projected CRS? For example what would be its unit of measurement? If it still a linear unit (meter or related), then I think it would be a different kind of grid than the one for which `OrdinalCS` was introduced.

[2017-09-18 06:35] jetgeo commented on #32
OK, see below.

![cs crs associations](https://user-images.githubusercontent.com/7501876/30531072-1a8aeab2-9c4c-11e7-8182-83462e71f30d.png)

[2017-09-18 07:12] RogerLott commented on #32
@desruisseaux asks for clarification about the need for a derived projected CRS using an ordinalCS. Look at example E.2.8 in the 19111 draft. This was originally example 1 in clause 15.5.2 of 19162, CRS WKT, but now onsidered to be incorrect because it inherits a geodetic datum so cannot be a derived engineering CRS. In 19111 example E.2.8 I believe that the CS is not affine and should be ordinal.

[2017-09-18 07:15] RogerLott commented on #32
Assuming a derivedProjectedCS may be an ordinalCS, the above diagram subtyping CartesianCS directly off CS looks fine to me. Correction for EngineeringCRS.ordinalCS noted.

[2017-09-18 08:40] desruisseaux commented on #32
I suggest to keep `CartesianCS` as a sub-type of `AffineCS` if we agree that this relationship is conceptually correct, even if DerivedProjectedCRS accepts also an `OrdinalCS`. I think there is value in capturing the concept that a Cartesian coordinate system is a special case of affine. It allows users to write their own classes (outside ISO 19111) where a CS can be affine or Cartesian but not or

[2017-09-18 09:56] marqh commented on #24
@desruisseaux

I prefer calendarHour to clockHour as it the calendar that defines the variable length: "which hour on which day contains a leap second" is defined by the calendar.

@RogerLott
I think that a unit of measure of '1' is a recognised and used unit of measure within SI.  Examples include kg/kg = 1 and in mandating a unit of '1' for the exponent if something is raised to a power provided

[2017-09-19 19:16] desruisseaux commented on #29
Just to check if I'm understanding right, is the following summary correct?

* `Conversion`, `Transformation` and `PointMotion` need parameters. They inherit them from `SingleOperation`. Since other kinds of operation (`ConcatenatedOperation` and `PassThroughOperation`)  do not need parameters (as far as I can see), we do not need to move parameters higher in the hierarchy.
* `Conversion` and `Tra

[2017-09-19 20:35] RogerLott commented on #29
Your first three bullets are correct but not quite complete - in addition to parameters they need the method [formula]. This all comes from the classes in the Operations part2 diagram, associated with SingleOperation.

Your last two bullets are correct. The arguments for ConcatenatedOperation is a list of singleOperations. The method and parameters for these are embedded in each SingleOperation. S

[2017-09-19 21:10] desruisseaux commented on #29
Indeed `sourceCRS` and `targetCRS` are associations; my use of "attribute" word was a mistake (attribute and association are indistinguishable in Java language, so I sometime forget to make the distinction when talking about UML).

You are right, I was trying to figure out where `DataEpoch` associations appear. I also see them as optional associations from `CoordinateOperation`. The `PointMotion`

[2017-09-19 21:18] RogerLott commented on #32
Although currently they are in the definitions of 19111 clause 4 independently, you could define a Cartesian CS as an affine CS in which the axes are all orthogonal and all axes have the same units. So it is correct that cartesianCS could be considered (modelled as) a subtype of  affineCS. This would appear on the CS diagram. Then on the CS-CRS associations diagram a derivedProjectedCS would be a

[2017-09-19 21:31] RogerLott commented on #24
@jetgeo
I think we should do as @marqh suggests, keep this issue open whilst we work through a few use cases. However in the mean time two changes are required to the above diagram:
i) Inthe PseudoUnit class change the attribute +no_unit to +discreteQuntity
ii) do something with the OrdinalCS class to have it constrained to have a coordinate type of integer (only permissable type).

[2017-09-20 13:02] jetgeo commented on #24
Something like this?

![coordinate systems](https://user-images.githubusercontent.com/7501876/30645014-a5755b02-9e14-11e7-9533-50b2ca6de951.png)

[2017-09-20 13:05] desruisseaux commented on #32
Thanks for the information about seismic bin grid. It indeed looks like `OrdinalCS`. Regarding the union of `CartesianCS`, `AffineCS` and `OrdinalCS`, it is indeed easier to see the 3 on a single diagram. But I wonder if we can put `CartesianCS` in the diagram even if it is a subtype of `AffineCS`? That would be redundant, but not a contradiction; I would not see a harm. I believe there is value i

[2017-09-21 09:36] desruisseaux commented on #32
Below is a proposed UML (incomplete because I have no UML tools). It is slightly different than my previous comment. The white boxes are mostly unchanged compared to current draft. The yellow boxes are the core of proposed change. The red arrows and red texts are different compared to current draft.

Basically I swap the position of `ProjectedCRS` and (to be renamed) `DerivedProjectedCRS` so that

[2017-09-25 04:11] jetgeo commented on #24
Set all pseudoUnits (except descreteQuantity) to "calendar....", after discussion wit @RogerLott . Closing this issue.

![coordinate systems](https://user-images.githubusercontent.com/7501876/30792143-6127db8a-a1b8-11e7-8cbf-bd480f16e15c.png)

[2017-09-25 04:11] #24 closed, assigned to nobody

[2017-09-25 04:13] jetgeo commented on #26
Closed, after discussion with @RogerLott. Ref #24

[2017-09-25 04:13] #26 closed, assigned to nobody

[2017-09-25 04:14] jetgeo commented on #27
Closed, after discussion with @RogerLott.

[2017-09-25 04:14] #27 closed, assigned to nobody

[2017-09-25 04:36] jetgeo commented on #29
Updated diagram, after discussion with @RogerLott.

- [X] Changed constraints on PointMotion, Conversion and Transformation, to specify how CRS and DataEpoch are used in these.
- [X] Removed constraints from PassTroughOperation and ConcatenatedOperation, since they can relate to any of the three single operation types.

Please comment if I have misunderstood.

![operations part 1](https://user-ima

[2017-09-25 06:22] jetgeo commented on #32
I think @desruisseaux is right - "We can restrict the list of coordinate systems in CRS subtypes, but not expand it". I didn't see this conflict until now. This has consequences for Geodetic/Geographic CRS and for Projected/DerivedProjected CRS, as Martin points out.
For Geodetic/Geographic, we can do as Martin suggest, possibly supplied with a constraint on GeodeticCRS for specifying that it shal

[2017-09-25 08:00] desruisseaux commented on #32
Indeed the `DervivedGeodeticCRS` is already in use, but one of the proposal that I posted uses the same `DervivedGeodeticCRS` for both the existing purpose and for the new derived projected CRS. We don't have to do this way, but it is one of the two proposed ways.

[2017-09-25 08:52] jetgeo commented on #32
True, but as I think you have said in the comment three steps above here, using `DerivedGeodeticCRS` for both must include changes  in the inheritance or associations to CS-classes. The existing `DerivedGeodeticCRS` is a subtype of `GeodeticCRS` (and `DerivedCRS`), and can therefore only have `CartesianCS` or `SphericalCS`, while the existing `DerivedProjectedCRS` is supposed to have `AffineCS`, `

[2017-09-25 09:52] desruisseaux commented on #32
Yes. My thinking followed those steps:

1. The first proposed fix is a change in class hierarchy for allowing (to be renamed) `DerivedProjectedCRS` to accept a wider range of CS than `ProjectedCRS`.
2. Then I was wondering if `DerivedGeodeticCRS` should also accept a wider range of CS, for similar reasons than `DerivedProjectedCRS`. If and only if the answer is "yes", then:
    1. (to be renamed)

[2017-09-25 11:57] RogerLott commented on #29
@jetgeo the constraints on PointMotion and Transformation look fine.
But I think that the constraints on Conversion are not correct. The sourceCRS and targetCRS may be implicit when the conversion defines a derivedCRS. The constraints count(SourceCRS)=1 and count(TargetCRS=1) should be removed so that the class can inherit the 0..1 cardinallity through CoordinateOperation. The constraints for Sour

[2017-09-25 16:36] RogerLott commented on #32
The reason we introduced the geographicCRS subtype is to enforce the requirement for an ellipsoid when the CS is ellipsoidal (because it had been made optional for geodeticCRS with a spherical or [more usually] CartesianCS). If the geodeticCS class must contain ellipsoidal CS, is this effectively sayng that the geographicCRS class does not need to exist and the constraint on GeodeticReferenceframe

[2017-09-25 17:00] RogerLott commented on #32
Forgot to say in previous post that the condition for a derivedGeodeticCRS being a projectedCRS (as opposed to being a general derivedGeodeticCRS) is that the defining conversion is a map projection.

[2017-09-25 20:46] jetgeo commented on #29
OK, done.

![operations part 1](https://user-images.githubusercontent.com/7501876/30830166-4f3aa034-a243-11e7-85be-867fcfa593c1.png)

[2017-09-26 04:42] jetgeo commented on #32
Yes, I think that can be a good solution for Geodetic/Geographic.

For Projected/DerivedProjected, a solution may be to use the DerivedProjectedCS union for ProjectedCRS, and add a constraint saying that if type<>DerivedProjected then CS=Cartesian.

I am not sure about the OCL wording, but something like this might work:
![cs crs associations](https://user-images.githubusercontent.com/7501876/3084

[2017-09-26 08:55] RogerLott commented on #32
This is looking ok for me. But one question. Do we need the projectedCS class? What would be the effect of changing the association from projectedCRS to go to EngineeringCS? We still have the constraint that a projectedCRS can only have a Cartesian CS and adding a few more possible CS types (especially polar, but also cylindrical and spherical) seems appropriate for derivedProjected. But would lin

[2017-09-26 09:05] RogerLott commented on #32
Just checking one other issue. Did we agree to remove the UserDefinedCS class? I recollect that At one stage we discussed ordinal CS replacing it. We knew of no use cases. But equally we could not be sure that it had never been used. Mark's meeting notes do not explicitly mention it "Major discussion about implementation of an EngineeringCRS and OrdinalCS; closely linked to underlying implementati

[2017-09-26 09:14] desruisseaux commented on #32
Yes, the above model would work. We could also keep `DerivedGeodeticCRS` as it currently stand; part of my proposal had an open question about whether `DerivedGeodeticCRS` should accept a wider range of CS, but I fully agree with Roger's objection against that.

`DerivedProjectedCRS` is a special case because `ProjectedCRS` is already a derived CRS. So `DerivedProjectedCRS` is a derived of a deriv

[2017-09-26 09:16] desruisseaux commented on #32
I think we should remove `UserDefinedCS`. Indeed we are not sure that no-one use it. But we already broke compatibility be renaming `GeodeticDatum` as `ReferenceFrame` while I'm pretty sure that `GeodeticDatum` is much more used than `UserDefinedCS`. Another reason is that I think that `UserDefinedCS` type should not have existed in the first place. If a user wants its own CS, (s)he should create

[2017-09-26 09:21] RogerLott commented on #32
UserDefined is already removed from the UML but I still have it in the 19111 draft text. Was just checking it was correct to remove it. I am happy to do so.

[2017-09-26 11:01] RogerLott commented on #32
@desruisseaux asks whether the DerivedGeodeticCRS class is needed. If you change a CRSs CS, say metres to feet or Cartesian to polar, you can do that in one of two ways (i) create an entirely new CRS, and (optionally) link the two CRSs by a conversion; (ii) create a derivedCRS, which puts the conversion in the derivedCRS definition. Such a unit change applies just as much to a geodeticCRS as the o

[2017-09-26 11:52] desruisseaux commented on #32
Sorry, my last bullet point was erroneous. It should be read as below (sorry for the error):

* Maybe we don't really need `DerivedGeographcCRS`? Technically speaking this class is not necessary. We could keep it for symmetry with `GeographicCRS` but I don't think it is as widely used?

[2017-09-26 13:13] desruisseaux commented on #32
Yes, the schema above captures well my proposal: everything mostly identical to current draft (ignoring the `EllipsoidalCS` in `GeodeticCRS` topic for now), with only `DerivedProjectedCRS` not a `ProjectedCRS` subtype anymore. It is at odd compared to all other `DerivedCRS` subtypes, but `ProjectedCRS` is already a special case.

[2017-09-26 17:00] RogerLott commented on #32
I believe that a derivedGeographicCRS is used. See ISO 19162 example 15.3.2 (the CRS name is clearly a copy and paste error which needs to be fixed in the next version!).

@jetgeo please review the diagram in my post above and if the subtyping and associations around ProjectedCRS and DerivedProjectedCRS are acceptable UML then please update the model to conform.
Per my post further above I feel th

[2017-09-27 09:00] RogerLott commented on #29
Sorry, we still do not have this correct. In PointMotion the counts for sourceEpoch and targetEpoch should be retained, but we need to delete the constraints of count(sourceCRS) and count(targetCRS) and reinstate the constraint (targetCRS=sourceCRS).

Why does the diagram show the coordOperationTo/From 0..* attributes on the CoordinateOperation to DataEpoch associations? There are similar attribut

[2017-09-28 16:40] RogerLott commented on #29
Is it sensible for the two pairs of associations between CoordinateOperation and CRS / DataEpoch to both be called 'Source' and 'Target'? To differentiate between them more easily whilst retaining backward compatibility for the CoordinateOperation to CRS associations, I  suggest changing those between CoordinateOperation and DataEpoch to be SourceEpoch and TargetEpoch.

[2017-10-02 06:03] RogerLott opened #33 "Amend class and attribute names"
To accord with comments made on the 19111 CD ballot, please make te following changes:
- [x] 1. In Datums::DynamicGeodeticReferenceFrame, change attribute name from +referenceEpoch to +frameReferenceEpoch.
- [x] 2. In Datums::DynamicVerticalReferenceFrame, change attribute name from +referenceEpoch to +frameReferenceEpoch.
- [x] 3. Change Datums::Ensemble class name to Datums::DatumEnsemble. This

[2017-10-02 06:07] RogerLott commented on #19
[19111 UML descriptions 2017-09-30.xlsx](https://github.com/ISO-TC211/ISO19111/files/1348019/19111.UML.descriptions.2017-09-30.xlsx)
Updated descriptions for classes and attributes attached. These are (I hope) consistent with the outstanding model changes described in the powerpoint file attached.
[Amendments required at 2017-09-28.pptx](https://github.com/ISO-TC211/ISO19111/files/1348023/Amendmen

[2017-10-02 13:00] jetgeo commented on #33
OK, done.
Also: changed role name from "ensemble" to "datumEnsemble".
Ref. also ppt attached to comment from @RogerLott in #19 .
See new figures in https://github.com/ISO-TC211/ISO19111/tree/master/Figures

[2017-10-02 13:01] jetgeo commented on #32
I believe this is done now, according to PPT from @RogerLott  in comment under #19?
See new figures in https://github.com/ISO-TC211/ISO19111/tree/master/Figures

[2017-10-02 13:04] jetgeo commented on #19
Changes according to done. Definitions will be added.
See new figures in https://github.com/ISO-TC211/ISO19111/tree/master/Figures

[2017-10-02 13:18] jetgeo commented on #29
OK, done (see new figures in https://github.com/ISO-TC211/ISO19111/tree/master/Figures). This is no problem though, since it is the role name, not the name of the association that shall be unique.

[2017-10-02 22:51] desruisseaux commented on #32
Thanks for the new figure. On a related question, in "Coordinate Systems.png", the `AxisDirection` code list has an `unspecified` item. Since code lists are extensible, shouldn't we omit this value and encourage users to define their own value instead? It is not clear to me what would be the difference between allowing an `unspecified` value and making the `axisDirection` attribute optional.

[2017-10-02 23:18] desruisseaux commented on #19
Thanks for the updated figures. Just minor questions:

* In "Coordinate Reference Systems.png" and in "Datum CRS associations.png", the association between CRS and datum seems navigable in both directions. Is it intended? Do we mean that each datum should know all CRS that use them?
* Should we add the constraint that all `Datum` instances in an `Ensemble` shall be of the same type? E.g. an `Ensem

[2017-10-03 20:44] jetgeo commented on #19
The navigability was set to enable the Ellipsoid constraint on GeodeticReferenceFrame. This constraint is now moved to GeodeticCRS, so the navigability is no longer needed.

Someone else must answer this.

[2017-10-03 20:45] #33 closed, assigned to nobody

[2017-10-06 20:21] RogerLott commented on #19
I saw the two-way relationship some time ago and wondered why it was there, but then forgot to ask about the issue. It was one way in 19111:2007 and except possibly for the contraint issue there is no need to change from that.  But I don't see any constraint on GeodeticCRS in the current versions of the diagrams. It seems to have gone missing from the CS-CRS association diagram.

So (i) show the c

[2017-10-09 21:25] jetgeo commented on #19
@RogerLott: Both (i) and (ii) is done (and was done before your comment :)).
See https://github.com/ISO-TC211/ISO19111/blob/master/Figures/CS%20CRS%20Associations.png
And https://github.com/ISO-TC211/ISO19111/blob/master/Figures/Datum%20CRS%20Associations.png

[2017-10-16 10:59] RogerLott commented on #29
A minor question. Can we change the name of the PointMotion class to PointMotionOperation, please? It would make it easier to refer to in text. Currently as subtypes of single operation we have a conversion (noun), a transformation (noun), and a point motion (verb). Better as a conversion (noun), a transformation (noun), and a point motion operation (noun).
Also in its constraints, change (sourceC

[2017-10-16 11:51] desruisseaux commented on #29
This is fine for me. Just out of curiosity, of course you know much better than me, but I though that in this context [motion was a noun](https://www.collinsdictionary.com/dictionary/english/motion)?

[2017-10-16 14:53] desruisseaux opened #34 "AxisUnit simplification proposal"
In ISO 19111:2007, getting the unit of measurement of an axis required a single step:

1. Get the `CoordinateSystemAxis.axisUnitID` property value, which is a `UnitOfMeasure` defined by ISO 19103:2005.

In the current draft, getting the unit of measurement of an axis requires two steps:

1. Get the `CoordinateSystemAxis.axisUnit` property value.
2. In the `AxisUnit` union, make a choice depending

[2017-10-17 22:32] RogerLott commented on #34
I have no objection in principle to changing this part of the model if it makes programming against it easier: we are after all currently changing it from 19111:2007. But what does "the rule would be that two units may not be convertible if they are not in the same SystemOfUnits" mean? Are you saying that if a metre is in SI system and foot in imperial system, we cannot convert a CRS with a CS wit

[2017-10-17 23:21] desruisseaux commented on #34
Two units of the same quantity in the same system of units (e.g. metre and kilometre) are guaranteed to be convertible. But two units in different system of units may or may not be convertible. For example SI units and imperial units are convertible despite being in different system of units, but "pseudo units" and SI units are not convertible. I presume that ISO 19111 does not need to specify whi

[2017-10-18 14:10] marqh commented on #34
My initial reaction is neither in favour nor against this.  I would like to explore more detail before coming to a view.

1. I did not think that uses could add items into standardised code lists

2. would the definition of this still be required within 19111, all be it in a different place, to define what is meant by pseudoUnit and what the allowed values are?

3. where do `imperial` and `us_cust

[2017-10-18 14:47] desruisseaux commented on #34
`Enum` are closed universes but`CodeList` are extensible. As far as I know, the possibility to let users add their own items is actually the only difference between `CodeList` and `Enum`.

The definition of pseudo-units would stay in the text, but their would be no explicit enumeration of `calendarYear`, `calendarMonth`, _etc._ Users can have a year `UnitOfMeasurement` associated to `SystemOfUnits

[2017-10-18 14:49] RogerLott commented on #34
If the objective is to ensure that an axis's unit can be found in a single step, is there another way of achiving this?
What would be the effect of returning the attribute axisUnitID back into the CoordinateSystemAxis class but changing its occurence to (0..1) and in conjunction with this moving the pseudoUnit attribute into the CoordinateSystemAxis class, also with an occurence of (0..1), with a

[2017-10-18 15:42] marqh opened #35 "Providing Coverage Advice"
I have been investigating how coverages may use 19111 CRS instances.  I believe there is a degree of expectation on the 19111 group to provide input to the 19123 editing team on this topic.

I have prepared a set of object diagrams, based on the class diagrams in this repository.  I will put these in individual comments, with a commentary alongside each one.
These show how a set of objects, instan

[2017-10-18 15:45] marqh commented on #35
1st example:
single location, based on a 4-tuple of (longitude, latitude, height, time)

Individual coordinate values from the tuple are referenced to a coordinate system axis based on position within the tuple
* is this correct?

![singlelocation](https://user-images.githubusercontent.com/1557321/31772381-03d6d48e-b4cf-11e7-9551-fe5fd251b223.png)

[2017-10-18 15:50] marqh commented on #35
2md example:
image, where the list of i coordinate values are in a separate list from the list of j coordinate values

How does the coordinate define which coordinate axis it is?
I have introduced 2 non-standard attributes, to try and address this (implying a missing piece in our model).  Is there already functionality to do this that I am missing or mis-understanding?

![simpleimage](https://user

[2017-10-18 18:47] desruisseaux commented on #34
It would be possible to do that, but this is equivalent to defining a union embedded straight into the `CoordinateSystemAxis` interface. I think that the separated `AxisUnit` union like current draft makes that intend clearer. However those two alternatives (explicit `AxisUnit` union or union functionality embedded into `CoordinateSystemAxis`) are equivalent in the number of required steps since w

[2017-10-19 06:55] jetgeo commented on #29
OK, done. New figure: https://github.com/ISO-TC211/ISO19111/blob/master/Figures/Operations%20Part%201.png

[2017-10-19 06:55] #29 closed, assigned to nobody

[2017-10-19 06:59] #32 closed, assigned to nobody

[2017-10-19 07:44] RogerLott commented on #35
Useful start to a conversation we need to deliver on in the very near future.

Example 1 is correct if the height is ellipsoidal height and part of a 3D geographic CRS. In application it is more likely that the height might be from a vertical CRS. In that case the compound CRS has three (ordered) components of GeodeticCRS, Vertical CRS and TemporalCRS. It might be better to show this because it is

[2017-10-19 08:21] pebau commented on #35
Hi all,

actually, the coverage data & service model has been designed in a way so as to
minimize the interface between coverage "world" and other "worlds", such as
CRSs. Trying to summarze (currently itting in the ESA Datacube workshop):
- a coverage has exactly one CRS, containing all spatial, temporal, and other axes
- a CRS _shall_ be identified by a URL
- that URL _should_ resolve (could be t

[2017-10-19 08:24] pebau commented on #35
without being able to dive too deep into this due to my workshop involvement
here: looks good.

Note that we do not identify _coordinates_ by position but by axis name, see
previous example.

-Peter

On 10/18/2017 05:45 PM, marqh wrote:

--
Dr. Peter Baumann
 - Executive Director, rasdaman GmbH Bremen (HRB 26793)
   www.rasdaman.com, mail: baumann@rasdaman.com
   tel: 0800-rasdaman, fax: 0800-rasd

[2017-10-19 08:29] pebau commented on #35
FWIW, here a slide I have done earlier, it might show our view on CRS use.

-Peter

On 10/19/2017 09:44 AM, RogerLott wrote:

--
Dr. Peter Baumann
 - Executive Director, rasdaman GmbH Bremen (HRB 26793)
   www.rasdaman.com, mail: baumann@rasdaman.com
   tel: 0800-rasdaman, fax: 0800-rasdafax, mobile: +49-173-5837882
 - Professor of Computer Science, Jacobs University Bremen
   www.faculty.jacobs-u

[2017-10-19 08:31] pebau commented on #35
corresponding example in coverages:

        <GeneralGrid srsName="http://www.opengis.net/def/crs/OGC/0/Index2D"
axisLabels="i j">
            <IndexAxis axisLabel="i" lowerBound="0" upperBound="2"/>
            <IndexAxis axisLabel="j" lowerBound="0" upperBound="2"/>
        </GeneralGrid>

-Peter

On 10/18/2017 05:50 PM, marqh wrote:

--
Dr. Peter Baumann
 - Executive Director, rasdaman GmbH Bre

[2017-10-19 08:52] desruisseaux commented on #35
Thanks for those examples, I think it is helpful to have such use cases. In example 1, I wonder why `coordinateDataType` is set to `integer` since the axes are latitude, longitude and height in degrees and metres? Those coordinate tuples are conceptually real numbers, and whether a grid coverage or file format stores them as floating point numbers or integers should not be a concern for the CRS. S

[2017-10-19 09:17] pebau commented on #35
PS: forgot one requirement:

- the coordinate value set of an axis shall be totally ordered (likely trivial,
though); this we need to be able to do trimming.

cheers,

Peter

On 10/19/2017 10:21 AM, Peter Baumann wrote:

--
Dr. Peter Baumann
 - Professor of Computer Science, Jacobs University Bremen
   www.faculty.jacobs-university.de/pbaumann
   mail: p.baumann@jacobs-university.de
   tel: +49-42

[2017-10-19 13:10] marqh commented on #35
@desruisseaux

this is a mistake on my part, it was brought in by accident from a similar diagram.  I have deleted this and updated the diagram, as I don't want to have this up for questions when it is just me making an editing error

i hope this is ok

[2017-10-19 16:36] marqh commented on #35
@RogerLott

I understand you will post further on this when you are able to.  I would like to pick up on this point and explore some language, perhaps this is splitting hairs, perhaps it is useful, I'm not sure.

I would like to say that this example is not separating out a 2D CRS.  It is explicitly enabling two independent lists of coordinate values to reference different particular parts of a 2D

[2017-10-20 08:56] desruisseaux commented on #35
Thanks for the fix. In example 1, unless I got the intend wrong, there is still the axis directions to edit. They are currently `positive` for each axis, but they should be `north` for latitude, `east` for longitude, `up` for height and `future` for the time axis.

On example 2, the two lists of independent coordinate values looks a lot like the netCDF Common Data Model (CDM). NetCDF files indeed

[2017-10-20 19:14] pebau commented on #35
Martin-

On 10/20/2017 10:56 AM, Martin Desruisseaux wrote:

out of curiosity, can you explain this a little? Where do you see the advantages
over the coverage approach?

thanks,
Peter

--
Dr. Peter Baumann
 - Executive Director, rasdaman GmbH Bremen (HRB 26793)
   www.rasdaman.com, mail: baumann@rasdaman.com
   tel: 0800-rasdaman, fax: 0800-rasdafax, mobile: +49-173-5837882
 - Professor of Comput

[2017-10-20 23:06] desruisseaux commented on #35
Hello Peter. OGC 01-004 `GridGeometry` was built on top of OGC 01-009 `MathTransform`. Since `MathTransform` has been omitted from ISO 19111, the ISO 19123 standard could not leverage it in the way OGC 01-004 did. A `MathTransform` was a mathematical transformation of coordinates between two spaces, not necessarily geospatial; OGC 01-009 explicitly said that it could also be a transformation betwe

[2017-10-24 10:52] marqh commented on #35
I'd like to revisit @RogerLott 's comment:

and reconsider the interface between 19111 and 19123.

I have been back through 19123:2007 and 19111:2007.  I am concerned that interpretations of the way that 19123:2007 defines the interface to 19111:2007 is at the root of our problems and that Roger's comment highlights this.

The 19111 model starts with the CoordinateSet, an ordered collection of Coo

[2017-10-24 11:12] desruisseaux commented on #35
I think that this figure works and stay in spirit of ISO 19111 (the coordinate system is not splitted in 1D components). But I wonder why `DerivedCoordinateSet` does not extends `CoordinateSet` in this use case?

One thing I would like to clarify: for me, `CoordinateSet` having a `coordinateTuple` attribute does not mean that the coverage or file format must contains internally a list of `DirectPo

[2017-10-24 12:12] marqh commented on #35
No reason, i suspect that this would be a good way to do it.
(diagram updated)

I agree

[2017-10-24 16:24] pebau commented on #35
(cc'ing Doug so that he sees work is going on)

thanks a lot, Martin, good to learn about this history and also the approaches
behind.

In fact, ISO 19123 as it stands might say too much about CRSs where it actually
only should say what a grid is (reminds me of WCS 1.1.2: from the 136 pages
there are 65 pages on CRSs, some text which is understood by maybe 5 people, and
I am not one of them). But

[2017-10-24 17:24] pebau commented on #35
On 10/24/2017 01:12 PM, Martin Desruisseaux wrote:

indeed, this is exactly the transformation case, currently represented by
SensorModel: coordinates have to be computed by interpreting the model data
(which are not the direct position coordinates themselves).
-Peter

--
Dr. Peter Baumann
 - Executive Director, rasdaman GmbH Bremen (HRB 26793)
   www.rasdaman.com, mail: baumann@rasdaman.com
   te

[2017-11-08 12:48] marqh commented on #35
I have prepared some follow on examples, to help with these discussions.  these should all use the 'DerivedCoordinateSet' approach already discussed. I aim to be consistent, all comments and queries are encouraged.
In essence: are these examples valid interpretations of ISO19111?

**Simple Image**

![tuplesimpleimage](https://user-images.githubusercontent.com/1557321/32549774-968935d4-c482-11e7-8e

[2017-11-28 13:16] marqh commented on #34
I have found it useful to treat these quantities not as UnitOfMeasure instances, hence the term we came up with: PseudoUnit

I am not convinced that the behaviour required to support calenders and calendrical calculations is provided for by making these quantities UnitOfMeasure instances, even if that is qualified with a 'systemOfUnits'.
These are not units of measure, even in a different system o

[2017-11-28 14:38] marqh commented on #34
I am conscious of the initial concern raised in this ticket, that

I wonder what other alternatives we may be able to explore that would also address this concern.

One approach which may be plausible is to look at whether `axisUnit` may be set to `null`.

The `pseudoUnit` information could be provided via a second attribute, say `axisPseudoUnit`, which is also able to be null.

A constraint could

[2017-11-28 14:41] marqh commented on #34
Interestingly having axisUnit and pseudoAxisUnit provides a potential fix to a lower level issue, that of how to provide an `axisUnit` value for a dateTime.
`dateTime` is already defined as the `coordinateType` in this case, so, rather than pushing an odd extra entry into the `pseudoUnit` code list and then defining that this is a dateTime twice (the type and the pseudoUnit), this could be a case

[2017-11-28 15:16] desruisseaux commented on #34
Understood. But I see this as a matter of where this complexity is defined. I would like to support the point of view of coordinate system axes as continuous lines of measurement. If we are measuring something called "months" on that axis, from the coordinate system axis point of view it is as if all months were of equal length (here, "length" is not necessarily synonymous of "temporal duration").

[2017-11-28 16:47] marqh commented on #34
of course

I am not sure that this is what we are doing any more.  In 19111:2007 I think this was true.

With the adoption of `integer` as a `coordinateType` and `pseudoUnits` such as `CalendarMonth`, `calendarYear` and `discreteQuantity` we are enabling non-continuous coordinateAxis instances to be created and used.  These are discrete axis.

I agree with this. (perhaps we could say: 'from the co

[2017-11-28 18:56] desruisseaux commented on #34
We agree that `SystemOfUnits` should not be a reimplementation of calendars. I don't think it should contain any complicated rule. Its only purpose is to act like a namespace for differentiating units defined in terms of SI from units defined in other terms.

About axes as "continuous lines", I use the word "continuous" for simplicity but I'm fine with integer type. The important thing is that eac

[2017-11-28 21:55] pebau commented on #34
Hi Martin,

what you suggest makes a lot of sense to me, from the practical perspective of
dealing with space/time datacubes for considerable time now (in whatever
definition of day ;-) ).

my 2 cents,

Peter

On 11/28/2017 04:16 PM, Martin Desruisseaux wrote:

--
Dr. Peter Baumann
 - Executive Director, rasdaman GmbH Bremen (HRB 26793)
   www.rasdaman.com, mail: baumann@rasdaman.com
   tel: 0800-

[2017-11-28 22:22] dr-shorthair commented on #34
Joining this conversation late - but my attention has been drawn to the fact that it has veered over to temporal coordinates.

Note that ISO 19108 distinguishes between
- temporal coordinate systems, which have a datum and a scaled offset
- other temporal reference systems, such as ordinal reference systems based on named eras (geologic, dynastic, archeologic)

Calendars and clocks are distinguish

[2017-11-28 23:44] desruisseaux commented on #34
Thanks Peter and Simon for the feedback. Indeed, I think we agree in keeping clock and calendar complexity out of `CoordinateSystem`. In the hope to allow the use of ISO 19111 with a temporal axis where ordinate values are calendar years for example, we are looking for a way to said that those ordinate values are not convertible to SI temporal units by simple offset and scale factor, e.g. because

[2017-11-29 10:55] marqh commented on #34
I think I have understood the main points in this proposal.  I agree with much of the analysis, including

In my view the recognition that temporal quantities are not units of measure is a crucial step in ensuring that calendars are treated properly.

I think that this redesign, incorporating temporal quantities into units of measure, is a problematic step.  I think it has fairly wide implications

[2017-11-29 11:07] marqh commented on #34
@desruisseaux

Martin,

Please may I ask for some further clarification?  Using the current model, as in the draft, how would an implementer implement a CoordinateSystemAxis instance.  What would the attribute name be for the case where the axisUnit is a UnitOfMeasure and for the case where the axisUnit is a PseudoUnit?

Is it correct to have

[code]

or, should the model be interpreted as:

[code

[2017-11-29 11:30] desruisseaux commented on #34
I think that both forms are doable, but their representation in a particular language is more or less complicated depending on the language. For languages or formats that are not strongly typed like JSON, I guess that both forms are equally easy. For GML, I suspect that they would use the second form with `<gml:axisUnitID>` and `<gml:pseudoUnit>` declared as members of an XML Choice [1..1] element

[2017-11-29 11:53] desruisseaux commented on #34
Are calendar quantities that much different than pixel quantities? I think we agreed that the coordinate system of an image use integers (`OrdinalCS`)  with the unit of measurement of 1?

Also, maybe we should emphases that we are talking about `AxisUnit`: something that qualify the coordinate values on an axis in order to know their "size", nothing more. The complexity of calendars is out of `Axi

[2017-11-29 12:55] marqh commented on #34
I find that the introduction of a systemOfUnits and a restriction that no conversion is allowed across systems is not sufficiently restrictive.
For the ISO calendar, the concepts of calendarMonth, calendarDay, calendayHour, calendarMinute and calendarYear are required.
None of these quantities is ever convertible to any another via a unitOfMeasure conversion.
There is no case (that I am aware of)

[2017-11-29 13:48] pebau commented on #34
IMHO this does not reflect reality - calendars _have_ units of measure, just not
a simple linear equation as traditional axes used to be. Another example would
be elevation where the datum (MSL) is anything but trivial given today's
increased accuracy requirements. And this UoM for time is important for users in
practice indeed; even though they may not be addressed currently (I understand
why and

[2017-11-29 15:26] marqh opened #36 "TemporalQuantity"
The handling of temporal quantities linked to calendars could be taken out of CoordinateSystemAxis and provided only for TemporalCS entities.

As long as it were possible to have `axisUnit` able to be null in these cases, this would allow temporal special cases linked to calendars to be handled separately from unitOfMeasure specifications.

This approach could simplify axisUnit, providing function

[2017-11-29 15:28] marqh commented on #34
rather than further extend this thread with branches and alternatives, I have opened #36, sketching out a way to deliver direct access to an axisUnit from a CoordinateSystemAxis whilst keeping TemporalCases independent and not using UnitOfMeasure instances for temporal quantities

[2017-11-29 19:42] RogerLott commented on #36
I feel that something along these lines may be the appropriate way forward. It preserves exactly the existing data model for all CS subtypes, so addresses Martin's principle problem of an additional step, except for temporal CS which is in any case remodelled.

A few (I believe minor) amendments:
i) Rename the UnitlessCoordinateSystemAxis as TemporalCoordinateSystemAxis
ii) Move the two attributes

[2017-11-29 20:22] jetgeo commented on #36
I think this would work. However, instead of repeating the axisUnit attribute in TemporalCoordinateSystemAxis, I would prefer to use an abstract class, as shown in the figure bellow. I have not added the "second" value to the CodeList, avaiting your decission on this.
![coordinate systems](https://user-images.githubusercontent.com/7501876/33397225-ec1ce85e-d5af-11e7-88d2-85a8770e3a96.png)

[2017-11-29 23:12] RogerLott commented on #36
The above model would, I believe, result in the three examples in the attached
[19111 Annex E4 Examples.docx](https://github.com/ISO-TC211/ISO19111/files/1515882/19111.Annex.E4.Examples.docx)
.

[2017-11-30 10:44] marqh commented on #36
@jetgeo
Hi Knut

This (https://github.com/ISO-TC211/ISO19111/issues/36#issuecomment-347984611) looks neater to me.  A detail point: in the CodeList TemporalQuantity, the entry 'discreteQuantity' is no longer required, it will not be used by TemporalCS instances.  However a new entry is required: 'second', as this is no longer available as an UnitOfMeasure.

thank you
mark

[2017-11-30 11:23] RogerLott commented on #36
Mark, could you clarify what this second is (SI second, duration of 9 192 631 770 periods of the radiation
corresponding to the transition between the two hyperfine levels of the ground state of the caesium 133
atom [13th CGPM (1967)] ??) and when it would be used, please.

[2017-11-30 11:31] marqh commented on #36
A consequence of this model is that it is no longer possible to have an OrdinalCS with no unit of measure.

For image space, this is not an issue, as an OrdinalCS with two CoordinateSystemAxis instances, each with an axisUnit of '1' is a good representation of pixels.

However, for pure index space, there really is no valid unit of measure.

I do not have a use case for providing referencing by co

[2017-11-30 11:48] marqh commented on #36
Yes, this is the SI second.

It would be used to record a time coordinate tuple as a number of seconds since a defined datum.  For example, unix time (nowish):

* 1512042333
  * seconds
  * datum
    * origin 1970-01-01T00:00:00Z
    * calendar ProlepticGregorian

[2017-11-30 18:08] desruisseaux commented on #36
This new model is proposed on the basis that temporal quantity based on calendar would not be valid unit of measurement. But is it really the case? A coordinate value is an amount of something since axis origin. The axis unit just said what this "something" is. Having a count of something in calendar case is not so different than other units of measurement. For example:

* The SI "mole" fundamenta

[2017-11-30 20:03] RogerLott commented on #36
We got into this discussion because those interested in temporal CRSs stated that axisUnit.UnitOfMeasure was unsuitable for temporal application, on two grounds:
i) term 'unit' is disliked - 'temporal quantity' is preferred.
ii) the understanding that UnitOfMeasure requires a ratio to an SI base unit (second for time) and that this was not always possible.

The principle objection to be overcome i

[2017-11-30 21:10] desruisseaux commented on #36
I don't think that `UnitOfMeasure` is unsuitable for temporal applications. To me, it seems that we are confusing `DateTime` and `Measure`. A `DateTime` has many fields (day, month, year, _etc._) with complicated rules. But coordinate values are single number with a unit. They are not (_day_, _month_, _year_) tuples, and consequently I think that calendar rules are irrelevant to coordinate values.

[2017-11-30 21:47] RogerLott opened #37 "Deformation model link to CRS"
The 19111 EC needs some advice on modelling of the relationship between a dynamic CRS and zero to many 'deformation grids' which associated with but not part of the CRS definition. The datamodel should allow for these grids to be easily identified from the CRS. The deformation grids are modelled as PointMotionOperations. In geodesy this is somewhat analogous to the relationship between a geoid-bas

[2017-11-30 22:11] dr-shorthair commented on #36
Yes, I agree. Calendars and clocks use rules to convert a position on a timeline into a multi-element value. An inverse rule can be used to convert back to a temporal coordinate, which has a unit of measure and a datum. Commonly used temporal coordinate systems are
- Unix time - unit-of-measure is seconds since 00:00:00.000 UTC on 1st Jan 1970
- Julian day - unit of measure is days since 1st Jan 4

[2017-11-30 22:36] RogerLott commented on #36
John Herring's view on the meaning of the note attached to UnitOfMeasure "conversion to ISO standard unit is not null only if the conversion is a simple scale" is that in general a conversion to an SI unit is required but not if that conversion is more complex than a scalar value. So axisUnit.UnitOfMeasure can be used for TemporalCS in the same way as for other CS subtypes.

[2017-11-30 22:44] desruisseaux commented on #36
Then, I think that we don't need anything special (no `AxisUnit`, `PseudoUnit` or `SystemOfUnits`). A calendar month can be just an ordinary `UnitOfMeasure` with conversion factors left to `null`.

[2017-11-30 23:27] desruisseaux commented on #37
I think that using functions has the advantage of keeping associations only for the parts of CRS definitions. Do the following functions in `OperationFactory` (to be renamed) catch the intend?

* `findCoordinateOperation(CRS, CRS) : Set<CoordinateOperation>` (already existing function).
* `getHeightTransformation(VerticalCRS) : Set<Transformation>`
* `getDeformation(GeodeticCRS) : Set<PointMotionO

[2017-12-01 13:14] marqh commented on #36
There is nuance here and I can see utility in both perspectives to an extent.  We are discussing a subtlety of interpretation and implementation.

A useful reference for terms is JCGM 200:2008 International vocabulary of metrology — Basic and
general concepts and associated terms
https://www.bipm.org/utils/common/documents/jcgm/JCGM_200_2008.pdf
which defines:

1.9(1.7)
**measurement unit**
unit o

[2017-12-01 13:26] marqh commented on #36
To pick up on the examples in https://github.com/ISO-TC211/ISO19111/issues/36#issuecomment-348337417

In each case, the quantity being measured is related in a complicated way to other quantities.

For referencing by coordinates standardisation, I think it is helpful to mandate that temporal quantities may not be converted to other temporal quantities via coordinate conversion.

For each of these

[2017-12-01 14:10] desruisseaux commented on #36
The concern about preventing an implementation to interpret months as 365.24/12 * 24 * 60 * 60 seconds in call cases is of course fully legitimate, but I think it can be addressed by existing ISO 19103 standard in two ways:

## Conversion to ISO null by CRS definition
The first way come from the fact that `UnitOfMeasurement` is part of the CRS definition. It is not an object that users of a refere

[2017-12-01 18:53] RogerLott commented on #36
Would using axisUnit.UnitOfMeasure for TemporalCS be acceptable if all three bullets below were implemented:
i) the 19111 document stated "Axis unit  (in the context of a time axis, preferably referred to as axis quantity) uses the datatype of UnitOfMeasure. This is defined in ISO 19103. The class includes a note "conversion ToISOstandardUnit is not null only if the conversion is a simple scale".

[2017-12-04 10:40] desruisseaux commented on #36
This is fine for me, but I suggest to nuance the _"Temporal measure quantities do not satisfy this criteria"_ sentence. Some temporal units/quantities do not satisfy this requirement and others do. Likewise, I suggest to omit the _"(in the context of a time axis, preferably referred to as axis quantity)"_ note. I think it is appropriate to use _"temporal unit"_ words for units having a simple rela

[2017-12-04 11:49] marqh commented on #36
My concern regarding the use of axisUnit.UnitOfMeasure remains the lack of a mandate against conversion for temporal cases.  I appreciate that an individual UnitOfMeasure instance may have no: 'nameStandardUnit', 'scaleToStandardUnit', 'offsetToStandardUnit' and 'formula', all of these may be null.  I assume that where these are null, all of the operations: 'convert...' would not succeed.
This beh

[2017-12-04 14:36] desruisseaux commented on #36
I think the following is an important point to discuss:

To me, calendars are used only for dates. My argument is that temporal coordinate values are not dates; they are durations. They measure the amount of time elapsed since the axis origin (the temporal datum), regardless any calendar consideration. The *conversion* from a coordinate value to a date may be a complicated thing involving calendar

[2017-12-04 19:27] RogerLott commented on #36
The current draft of 19111 in 10.3 says:
"This document supports three forms of temporal coordinate system:
—	dateTime strings in the proleptic Gregorian calendar as described in ISO 8601.
—	a temporal coordinate system using integer count which can be converted to dateTime in the ISO 8601 proleptic Gregorian calendar.
—	a temporal coordinate system that has a continuous axis expressed as a real n

[2017-12-04 20:21] desruisseaux commented on #36
I think that the datatype is independent of whether a temporal quantity can be converted to 8601 or not. My comments on the three forms:

I would prefer to omit the word "strings" in above definition, since I see "dateTime" and a "dateTime string" as 2 different things. To me, a `dateTime` is a (_year_, _month_, _day_, _hour_, _minute_, _second_) tuple (with more or less fields) stored in whatever

[2017-12-04 22:28] marqh commented on #36
regarding: https://github.com/ISO-TC211/ISO19111/issues/36#issuecomment-349077601
(with apologies for epic posting length)

Elements of this are not clear enough, I agree. This interpretation must map effectively if it is to be useful.

I think that a reason I have become confused is the change that dateTime is a temporalQuantity, rather than a CoordinateDataType.

Once datetime is a temporalQuant

[2017-12-05 09:22] marqh commented on #36
One further detail on:

As I mentioned previously, there is no valid UnitOfMeasure for a dataType of dataTime.
Is it reasonable to relax the mandate on there being an axisUnit (UnitOfMeasure), such that in the dataType=dateTime case, axisUnit is null?

[2017-12-05 22:22] RogerLott commented on #37
Take at look at two examples in EPSG:
1. Height Transformation association. CRS code 6647 (CGVD2013 height) and coordinate operation code 6648 (NAD83(CSRS) to CGVD2013 height (1), geoid model CGG2013). In this case there are cross-referencing remarks in both entries saying that 6648 was used to define 6647. Machines do not read remarks.
2. CRS code 8251 (NAD83(CSRS)v6) and coordinate operation cod

[2017-12-05 23:58] desruisseaux commented on #36
I think the new language for 19111 §10.3 is an improvement. But would the following amendments be acceptable?

`dateTime` is a type of its own, distinct from its `CharacterSequence` representation. It can make a difference when ordering values: 2017-01-01T00:00Z may be interpreted as a date-time before 2017-01-01T00:00:12Z. But when comparing their string representations, we get the opposite order

[2017-12-06 11:08] desruisseaux commented on #37
I think we don't need to duplicate. I do not have a strong opinion on whether they should be associations or functions. It is okay to have an 1:1 association in one direction and 1 to many in the opposite direction. The only cases where we can not use associations is for functions taking two or more arguments, like `findCoordinateOperation(CRS, CRS)`.

In the CGVD2013 height case, isn't similar to

[2017-12-06 11:47] pebau commented on #36
Hi all,

again my 2 cents from someone deailing with space/time coordinates all the time
;-) in practice.

On 12/06/2017 12:58 AM, Martin Desruisseaux wrote:

absolutely supported - "string" is not the adequate type, 8601 syntax follows
own rules.

I continue to be bewildered by having int and real distinction for the same
thing - it will be very hard to motivate to the communities to have such a

[2017-12-06 17:29] marqh commented on #36
In response to https://github.com/ISO-TC211/ISO19111/issues/36#issuecomment-349482407

This seems fine to me.

This makes sense, I agree.

This is also a sensible change, I agree

[2017-12-06 18:39] marqh commented on #36
There is lots of confusion regarding my statements in https://github.com/ISO-TC211/ISO19111/issues/36#issuecomment-349482407.  My apologies, clearly my statements were not at all clear.  I add examples in each case to try to illustrate my intent; each statement was intended with a very limited scope.

* A year (or calendarYear) may be defined without any reference to second.
* An hour (or calendar

[2017-12-06 20:02] jetgeo commented on #34
Believe this can be closed, further discussions in #36

[2017-12-06 20:03] #34 closed, assigned to nobody

[2017-12-06 21:05] desruisseaux commented on #36
This is where I'm puzzled. For me, quite the opposite this is used a lot. In netCDF and GRIB files among others but not only. This is not legacy; at the contrarily this is rather the norm. This is also used for Julian days, this is how spreadsheets like Excel handle date-times (days since December 30th, 1899), _etc._

I presume the different interpretations depend on whether a leap second is added

[2017-12-06 22:50] marqh commented on #36
Following discussions within the standards working group meeting today, the committee have agreed to adopt the model with explicit classes for the different temporal cases and the use of UnitOfMeasure for all cases except dateTime(removing TemporalQuantity)

![ttucoordsyspkg](https://user-images.githubusercontent.com/1557321/33688927-4f94e7ae-dad5-11e7-8f64-bb8b7d25e5ae.png)

It is recognised that

[2017-12-06 22:55] desruisseaux commented on #36
The `CoordinateSystem` → `CoordinateSystemAxis` association would need to be changed to a `CoordinateSystem` → `GeneralCoordinateSystemAxis` association for allowing the `TemporalCS` → `TemporalCoordinateSystemAxis` association (because `TemporalCoordinateSystemAxis` is not a `CoordinateSystemAxis` subtype).

[2017-12-06 23:13] desruisseaux commented on #36
Given that all types having a `coordinateDataType` attribute in above diagram allow only one value, do we still need to the `CoordinateDataType` code list? At least, it does not make sense to have it as a code list instead than an enumeration if there is no place where a user-defined value could be applied.

[2017-12-07 01:27] RogerLott commented on #37
Decision reached at today's meeting:

1. Add 0..* association named Deformation from GeodeticCRS to PointMotionOperation
2. Add 0..* association named Deformation from VerticalCRS to PointMotionOperation
(If preferable from modelling perspective, these two associations could be normalised through adding an abstract GeodeticVerticalCRS class with subtypes GeodeticCRS and VerticalCRS. [GeodeticVerti

[2017-12-07 08:10] RogerLott commented on #36
1. I do not think the coordinateDataType codelist is necessary now. But if it is removed, should not all of the +coordinateDataType attributes (four occurrences) be changed to something from 19103 - +dataType??
2. Should not the cardinality of the association from TemporalCS to TemporalCoordinateSystemAxis be 1 (so not ordered)?
3. Can we shorten the names of the three new classes: DateTimeCSaxis,

[2017-12-07 14:01] marqh commented on #36
additionally, i think it is slightly odd to see `coordinateDataType` used in an OrdinalCS, but used in `TemporalCoordinateSystemAxis` otherwise.

I suggest making a `OrdinalCSAxis` with `coordinateDataType=integer` to maintain this in a more consistent fashion

[2017-12-07 14:13] marqh commented on #36
I have left

as an enumeration whilst I await some 19103 feedback,
i have implemented all of the other edit suggestions:

regarding

this was explicit in @jetgeo 's suggested amendments: https://github.com/ISO-TC211/ISO19111/issues/36#issuecomment-347984611
I have followed @desruisseaux 's suggestion
@jetgeo please may you comment on this detail?

updated diagram:
![ttucoordsyspkg](https://user-im

[2017-12-11 10:24] desruisseaux commented on #37
Just as a clarification, `DynamicCRS` was not proposed as a parent type of all `GeodeticCRS` and `VerticalCRS`, but rather only some of them through multi-inheritance. For example `DynamicVerticalCRS` would have two parents: `VerticalCRS` and `DynamicCRS`. UML below. This is the same approach than what we did with `DerivedCRS`. Just for clarity in this diagram, boxes in yellow are abstract classes

[2017-12-11 11:05] desruisseaux commented on #36
If I remember correctly, the reason why `coordinateType` was defined in `OrdinalCS` instead than in the axis is because it applies to the coordinate system as a whole, i.e. to all axes. If we accept this argument, then the `coordinateType` in various temporal axis subtypes should be defined in `TemporalCS` instead. Even if in the particular case of one-dimensional CS the two locations are equivale

[2017-12-11 13:59] jetgeo commented on #36
Ok, so I have finally had some time again to look at this. Sorry for the delay.

- First:  @desruisseaux is right - the "axis" association must go to GeneralCoordinateSystemAxis, I didn't see this when I created the first diagram. Without this connection, it can't be specialized further down.

- Secondly:  I think @desruisseaux is right about the complexity too. Isn't all of the information in the

[2017-12-11 14:06] jetgeo commented on #36
Suggested new model, based on my comments above. Brings us almost back to where we started?

![coordinate systems](https://user-images.githubusercontent.com/7501876/33834821-aaebb134-de84-11e7-8b9f-3088eb30d373.png)

[2017-12-11 14:35] jetgeo commented on #37
I think this should be somewhere close to what you are describing?
![operations part 1](https://user-images.githubusercontent.com/7501876/33836160-ebc4e212-de88-11e7-94fa-eb8ac8758682.png)

[2017-12-11 15:00] desruisseaux commented on #36
Thanks for the new schema, it is helpful for trying to converge. I think we need to disallow `axisUnit` when `coordinateType` is `dateTime`, but I hope we can achieve that goal with something between this schema and Mark's proposal above. The attendance in last week OGC meeting also expressed a desire to enforce `axisUnit` and `coordinateType` constraints with type hierarchy. But if possible, I wo

[2017-12-11 15:48] RogerLott commented on #37
Jetgeo said

Yes, but I think that the Deformation associations should be simple associations, not aggregations (like HeightTransformation). Only DerivedCRS to Conversion is an aggregation.

I am fine with the role name deformation, but wonder why you chose that when the association to Conversion is called conversion and that to Transformation is called transformation. Would pointMotion be more co

[2017-12-11 16:13] desruisseaux commented on #37
Should we consider the opposite approach? Rename the "conversion" association as "definition" and the "transformation" association as "heightTransformation"? The reason is that an association of the same name than the target class does not bring new information, while alternative names are more explicit about what are the purpose of those coordinate operations.

[2017-12-11 16:49] jetgeo commented on #37
I agree with all comments from @RogerLott. I didn't really put any effort into the role name, I just used the same name as the name of the association. I also find @desruisseaux 's suggestion interessting, but eave that up to you to descide. I have no strong opinion, both versions area OK from a UML Point of view.

![operations part 1](https://user-images.githubusercontent.com/7501876/33842677-7e5

[2017-12-11 17:39] RogerLott commented on #37
As long as we have consistency between the role names of the three associations I am ok with either the above or Martin's suggestion to change them all. The above seems to be more consistent with what has been done  for role name coordOperation for the associations from ConcatenatedOperation and PassThroughOperation to CoordinateOperation, but perhaps these are not good analogies. Taking Martin's

[2017-12-11 17:41] desruisseaux commented on #37
I would propose the names having geodetic meaning as suggested by Roger.

[2017-12-11 17:55] RogerLott commented on #37
One other item we have yet to finalise: OperationFactory. From my post above:

_4. Martin to provide a further additional function to go into the OperationFactory class (to find entity ID from a registry).

We failed to discuss Martin's question:
"In addition, should we put an association from OperationFactory to CI_Citation named "authority"? The reason is that the result of findCoordinateOperati

[2017-12-11 18:21] RogerLott commented on #36
@jetgeo's latest is effectively option 3 presented in Mark's paper discussed last Thursday (Wednesday in EU). During that meeting I thought we agreed that it effectively was the same as option 5 (above, repeated here for clarity)
![33688927-4f94e7ae-dad5-11e7-8f64-bb8b7d25e5ae](https://user-images.githubusercontent.com/27864408/33846452-d2a5ada0-de9e-11e7-8525-7d3b8f16b00f.png)
but there was a ver

[2017-12-11 18:26] desruisseaux commented on #37
`OperationFactory` needs to be renamed. I propose `GeodeticRegistry` since the intend is to give access to a registry like EPSG. Functions could be (I'm putting more than we discussed; feel free to remove any extraneous functions):

* `authority` association to `CI_Citation`. If all remaining methods listed below fetch their information from the EPSG geodetic registry, than the authority shall be

[2017-12-11 18:36] desruisseaux commented on #36
I also though about putting the simpler model in the main document and the detailed one in annex. I think it would also be safer because it may give more freedom to future ISO 19111 revision group to make some adjustments to the model.

About `coordinateType` being defined in CS or in axis, it makes no difference for a one-dimensional CS. But for a two or more dimensional CS, having `coordinateTyp

[2017-12-11 18:44] RogerLott commented on #37
For the find* functions, I suggest that we omit for 'low level' (constituent) entities Martin has included and limit the functions to the 'top level' entities:
findCoordinateReferenceSystem(CharacterSequence) : CoordinateReferenceSystem
findCoordinateOperation(CharacterSequence) : CoordinateOperation
and also have
findCoordinateOperations(CRS, CRS) : Set<CoordinateOperation>
areMembersOfSameEnsemb

[2017-12-11 21:36] jetgeo commented on #37
Hm... I might be wrong, but didn't we discuss the name GeodeticRegistry when we first created the class, and dropped it because it was in another standard's domain?

[2017-12-11 22:11] desruisseaux commented on #37
I do not remember well. Does the other standard really defines GeodeticRegistry or more abstract kind of registry? It happen sometime that different ISO standards use the same words (e.g. ISO 19111:2007 `RS_Identifier` extending ISO 19115:2003 `MD_Identifier`). Maybe it is okay if our use of "registry" word is not in contradiction with their use.

[2017-12-12 00:25] RogerLott commented on #37
We certainly did discuss the name GeodeticRegistry when we first created the class. At that time we were considering several functions. All but one of them were either changed to associations (e.g. HeightTransformation) or eliminated and the class was reduced to having the single function findCoordinateOperations(CRS, CRS) : Set ,CoordinateOperation>. At that stage the class name was changed to Op

[2017-12-12 00:28] RogerLott opened #38 "Package dependencies"
This may be a stupid question (if so attribute it to jet lag) but in the diagram
![fig 2 internal package suppliers](https://user-images.githubusercontent.com/27864408/33860959-1d1225d8-ded3-11e7-9e8a-2c55f9b09fb0.png)
do we have the direction of dependency of coordinates correct? Should the arrow heads be at the CRS and CoordinateOperations end rather than at the Coordinates end?

[2017-12-12 01:06] RogerLott commented on #37
19111:2007 used the role name 'conversion' for the aggregation named Definition from DerivedCRS to Conversion. If we change this to 'derivingConversion' as suggested above, do we introduce backward compatibility issues?

[2017-12-12 07:52] jetgeo commented on #37
For basic names like the one we are discussing here, I would prefer to not use the same name in different standards, as it may lead to some confusion. But as @RogerLott says, 19127 don't have a UML model. And the term is not defined in the ISO/TC211 term database either, so I an OK with this. Perhaps this class may be the foundation for a UML model of the geodetic register in the future?

On the r

[2017-12-12 08:24] jetgeo commented on #36
Question: @RogerLott writes:

This is a change from the existing model, where the multiplicity of the attribute 'coordinateType' on the class 'OrdinalCS' is 1. Does it mean that 'OrdinalCS' may have axis with different datatypes? If so, we should probably use a subclass of 'CoordinateSystemAxis' (or of 'GeneralCoordinateSystemAxis').

On @desruisseaux 's proposal with subclasses of 'TemporalCS': T

[2017-12-12 09:15] RogerLott commented on #37
The role name for the DerivedCRS to conversion association needs changing:
conversion was used in 19111:2007
deriv**ing**Conversion used in 19162:2014 as a WKT keyword (no UML model)

Despite the backward compatibility problem my preference would be for compatibility with 19162. Can we explain the backward compaibility as a typo and updated to correspond to 19162? Or is consistency with 19111:2007

[2017-12-12 09:16] marqh commented on #36
regarding @RogerLott's comments

I agree, this is an editorial mistake by me

Yes, this is achieved the same either way, as the coordinateDataType is set to be `integer`, it is not optional or open to change

regarding @jetgeo's comments

The multiplicity is wrong, it should be 1..*

No, the value of coordinateType is fixed, it may only be `integer`

[2017-12-12 09:24] RogerLott commented on #37
The title of the 19127 document is "Geodetic register". Currently it has no UML model. That is likely to remain, as its model is essentially that of 19111 and 19135, but it is conceivable that it could introduce a subclass of 19135's Register class and if it were to do so then 'GeodeticRegister' would be a logical choice. So although low risk, we should probably not use that.

What about 'Register

[2017-12-12 09:27] jetgeo commented on #36
The attribute 'OrdinalCS.coordinateType' is constained to have value 'integer'. Having 1.* in multiplicity for an attribute that is fixed to one value gives no meaning. Either, the attribute should have multiplicity 1..1, or we should use an axis subclass for 'OrdinalCS'. This would then mean that each axis for a 'OrdinalCS' gets an attribute 'coordinateType' with value 'integer'.
From a modelling

[2017-12-12 09:31] jetgeo commented on #36
Here is a new model proposal.
- I have set the multiplicity for 'axisUnit' to 0..1, but used a constraint to say that it is mandatory
- In the axis subclass 'TemporalCSAsxis', a new constraint is introduced, saying that 'axisUnit' shall not be used it the 'coordinateType' is 'dateTime'.
- 'OrdinalCS.coordinateType' is kept as an attribute, based on the comment above.
- The multiplicity for the 'ax

[2017-12-12 09:35] desruisseaux commented on #37
`RegisterOperations` is fine for me.

About backward of `DerivedCRS` to `Conversion` association name, I have no strong opinion. We already have some incompatible changes, so one more may be acceptable. I think that names with geodetic meaning have long term advantages. Whether it outweigh the more short-term compatibility break, I could not said. On a personal point of view, I would choose geodet

[2017-12-12 09:36] jetgeo commented on #37
The backwards compatibility issues can be described in an annex, ref ISO/TC211 resolution 744:

This annex may include crosswalks, mappings or similar mechanisms, which evidence the degree of compatibility.

Do we then settle on 'RegisterOperations'?

[2017-12-12 09:37] marqh commented on #36
hi @jetgeo

I understand the approach being considered here

the reason this was cautioned against in the meeting last week is that coordinateType exists on a CS in the OrdinalCS case but on a CSAxis in the TemporalCSAxis case.  This inconsistency could cause problems

in your last draft, I think that coordinateType may just as easily be an attribute on TemporalCS.  Would this make sense to you?

[2017-12-12 09:42] RogerLott commented on #37
Yes. 19111 doc already has an Annex G.

So with these changes discussed today, I think we can close this issue.

[2017-12-12 09:43] jetgeo commented on #36
Yes, that makes sense. The constraint could then also be on TemporalCS.
("oclAsType" has been removed, as this is not type, it is a value from a codelist)

![coordinate systems](https://user-images.githubusercontent.com/7501876/33877839-ec071316-df29-11e7-8e32-e4a881e83ca4.png)

[2017-12-12 09:46] desruisseaux commented on #36
I agree with Mark proposal to put `coordinateType` in `TemporalCS`.

The various `CoordinateSystemAxis` subtypes proposed by Mark were intended to provide some type safety, for example by reducing the risk that a user attempts conversions to SI with an axis where such conversions make no sense. I value this goal. If we still want to achieve it, maybe we can try with `CoordinateSystem` subtypes? (I

[2017-12-12 09:50] jetgeo commented on #37
Agree, if this figure is OK?

![operations part 1](https://user-images.githubusercontent.com/7501876/33877912-2ef05b6a-df2a-11e7-952c-3f101a6abf54.png)

[2017-12-12 09:51] desruisseaux commented on #37
Do we show the association from `RegisterOperations` to `CI_Citation` on this figure or is it intended to be shown elsewhere?

[2017-12-12 10:12] jetgeo commented on #37
Sorry, I have forgot about that one. I'll look into it.

[2017-12-12 10:34] jetgeo commented on #37
I am not sure about the `CI_Citation` association: Could someone specify role name and multiplicity? I suppose it can be shown both in the `Operations part 1` diagram and in the `Register operations`diagram.

![register operations](https://user-images.githubusercontent.com/7501876/33880019-836e74fa-df30-11e7-9ae2-a36be3c60c6d.png)

[2017-12-12 10:45] jetgeo commented on #38
The arrows shall point from the package that use another package to the package it uses. But I must admit I haven't thougth through which package uses what. Probably, almost all packages uses other packages in this model.

[2017-12-12 10:53] jetgeo commented on #38
I believe this version is correct.
![internal package suppliers](https://user-images.githubusercontent.com/7501876/33880779-00c10f10-df33-11e7-99ef-3df5c5ee0890.png)

[2017-12-12 11:01] desruisseaux commented on #37
For the role name, I suggest "authority". This would be consistent with the "authority" role in `MD_Identifier` (and will often be the same value when the `MD_Identifier` is for a CRS).

For multiplicity, I have hesitation between 0…1 or 1…1.

[2017-12-12 11:01] RogerLott commented on #38
OK

[2017-12-12 11:44] RogerLott commented on #37
Role name of authority looks fine.

Multiplicity: if running the function against multiple registers is a possibility, for interoperability I can see that 0..1 might be problematic: running the function against two registers that contained same ID for different entities. So should the cardinallity be 1..*? Or would this be wrong, each return can only have one citation? I am struggling to find a us

[2017-12-12 11:47] marqh commented on #36
I think that the presentation of specialisation classes for the 3 temporal cases is valuable, as highlighted in the meeting last week.

Having 3 classes, perhaps: DateTimeCS, TemporalCountCS, TemporalMeasureCS and mandating the value of coordinateType in each case is preferable, in my view, to having the attribute value to set.

I have now properly consulted 19103:2015 and (as @RogerLott suggested

[2017-12-12 11:55] RogerLott commented on #36
I think a class called CalendarCS would be an unfortunate choice of name. We have said that calendars are out of scope of 19111. We should not confuse. If subtyping is needed, choose another name.

With axisUnit.UnitOfMeasure we need to be separating two things: (i) whether an axisUnit is required, and (ii) whether the 19103 rules for conversion to an SI are unit are applicable. The discussion abo

[2017-12-12 12:01] marqh commented on #36
I agree with this analysis.  I think that it is reasonable to describe this and the consequences of the decisions in the text, rather than putting these rules into the UML model.

This is partly motivated by my concern that it is difficult to model.

[2017-12-12 12:03] RogerLott commented on #36
Re @marqh comment "Can we make use of 19103:2015 types directly (do we use a defined namespace for this?)"

19103 is a normative reference so I would have thought that the data types 'integer', 'real' and 'dateTime' need no further clarification.

[2017-12-12 12:06] RogerLott commented on #36
Re @marqh comment "I think the CodeList for CoordinateDataType is not required"

Is an attribute of +coordinateType: [integer/real/dateTime] correct? Is this not a constraint rather than an attribute? And is it constraining coordinateType (something now unexplained) or axisUnit?

[2017-12-12 12:10] desruisseaux commented on #37
1…1 was my mistake, it is the same than 1.

A multiplicity of 1 implies that if a user wants to run against multiple registers, said EPSG and OGC, then he would have to use two distinct `RegisterOperations` instances, one for each authority. This would avoid the identifier collision issue if two authorities use the same codes. This would also avoid the difficulty of specifying what should be the b

[2017-12-12 12:12] marqh commented on #36
I think that this is not a constraint on axisUnit.

I think this is about coordinateType, the data type of the coordinate tuple value.  I don't think this can be a constraint within the UML, as there is not a thing to constrain within this package.

[2017-12-12 12:23] marqh commented on #36
we could potentially investigate a conditional constraint on individual elements of CoordinateTuples within the CoordinateSet
https://github.com/ISO-TC211/ISO19111/blob/master/Figures/Coordinate%20Set%20and%20Metadata.png

but this seemed like a complicated thing to implement to me

[2017-12-12 12:56] marqh commented on #36
a plausible update to https://github.com/ISO-TC211/ISO19111/issues/36#issuecomment-350998499 with typing used as discussed:

![tycsucoordsyspkg](https://user-images.githubusercontent.com/1557321/33885632-d1bce38e-df3b-11e7-8b05-528ed033915b.png)

[2017-12-12 13:34] jetgeo commented on #36
I'm confused.
First: On the axisUnit multiplicity: There are many ways of doing this. The point is that we want to have it mandatory for all except the TemporalCS with coordinateDataType=dateTime. We can do it like in the last figure from @marqh , if we are going to have subclasses of TemporalCS.

Second: on the use of 19103-types: I believed the values in coordinateDataType was not the actual dat

[2017-12-12 13:58] jetgeo commented on #36
![coordinate systems](https://user-images.githubusercontent.com/7501876/33888131-6c59e5d0-df4c-11e7-97a6-1ddeaca6f416.png)

[2017-12-12 14:00] jetgeo commented on #37
![operations part 1](https://user-images.githubusercontent.com/7501876/33888375-24adb8c8-df4d-11e7-9ed9-8dd0bcd05939.png)

[2017-12-12 14:29] marqh commented on #36
@jetgeo the update in https://github.com/ISO-TC211/ISO19111/issues/36#issuecomment-351058850 makes sense to me.  I am content with this model

I think that `CoordinateSystemAxis` should not be abstract though.

I hadn't made this distinction. I am content to keep the codelist if this facet is helpful.

[2017-12-12 14:33] jetgeo commented on #36
Good. Yes, CoordinateSystemAxis must be concrete. I missed that one.
![coordinate systems](https://user-images.githubusercontent.com/7501876/33889808-992d7c0c-df51-11e7-84fb-3db9d81ce12d.png)

[2017-12-12 23:18] #38 closed, assigned to jetgeo

[2017-12-12 23:27] RogerLott commented on #37
The role name for the DerivedCRS tconversion was used in 19111:2007:
derivedConversion should be derivingConversion

[2017-12-12 23:29] RogerLott commented on #37
The role name for the DerivedCRS to Conversion association should be changed:
derivedConversion should be derivingConversion

[2017-12-12 23:44] RogerLott commented on #14
On the assumption that issue #36 and #37 is now finalised and with one minor change to issue #36 (discussed below), I hope we can produce final diagrams.

There is at least two further changes required.
1. The IdentifiedObjects diagrams are missing the GeneralCoordinateSystemAxis subtyping off IdentifiedObject. (issue #36).

2. The role name for the DerivedCRS to Conversion association should be c

[2017-12-13 07:05] jetgeo commented on #37
Ok, done.
![operations part 1](https://user-images.githubusercontent.com/7501876/33925907-4fa28358-dfdc-11e7-8717-2d1cf3a2cf95.png)

[2017-12-13 07:17] RogerLott commented on #36
Just seen another minor correction needed. In 19111:2007 the CoordinateSystemAxis class attribute was axisUnitID, not axisUnit as in yesterday's version of the model above. Do we have any good reason to change this? I suggest it should be as in 2007, +axisUnitID:UnitOfMeasure.

[2017-12-13 07:18] RogerLott commented on #14
Just seen another minor correction needed and posted to #36. Copy here:
In 19111:2007 the CoordinateSystemAxis class attribute was axisUnitID, not axisUnit as in yesterday's version of the model above. Do we have any good reason to change this? I suggest it should be as in 2007, +axisUnitID:UnitOfMeasure.

[2017-12-13 07:36] jetgeo commented on #14
OK?
![identified object with subtypes](https://user-images.githubusercontent.com/7501876/33926992-b2838266-dfe0-11e7-89e0-7061a1512076.png)
![coordinate reference systems](https://user-images.githubusercontent.com/7501876/33926994-b4e3697c-dfe0-11e7-947d-96e33e323b7b.png)

[2017-12-13 07:40] jetgeo commented on #36
Ok, done.
![coordinate systems](https://user-images.githubusercontent.com/7501876/33927121-47b0323a-dfe1-11e7-915f-e14ac2758555.png)

[2017-12-13 07:41] jetgeo commented on #14
OK?
![coordinate systems](https://user-images.githubusercontent.com/7501876/33927137-5bd7ca16-dfe1-11e7-9a40-3bc633209911.png)

![coordinate reference systems](https://user-images.githubusercontent.com/7501876/33927141-60372ab6-dfe1-11e7-9630-a38cd9ae3cb8.png)

![identified object with subtypes](https://user-images.githubusercontent.com/7501876/33927154-6e76802c-dfe1-11e7-9662-d88eacc80899.png)

[2017-12-13 07:57] RogerLott commented on #14
In the CRS diagram, should the association names be on VerticalCRS to Transformation (HeightTransformation), VerticalCRs and GeodeticCRS to PointMotionOperation (Deformation) and DerivedCRS to Conversion (Definition)?

Otherwise looks fine.

[2017-12-13 08:08] jetgeo commented on #14
![coordinate reference systems](https://user-images.githubusercontent.com/7501876/33928128-0e9a93ec-dfe5-11e7-910f-da259b033cee.png)

[2017-12-13 10:17] desruisseaux commented on #36
**About `axisUnitID`:** I'm not sure what the "ID" stands for? This attribute is not an identifier, it is an object with more capabilities (conversions, _etc._). On a more minor aspect, I'm not sure neither why "axis" is repeated in the attribute name since it is implied by the context (this attribute is defined in a class named `CoordinateSystemAxis` and there is no other units in this context it

[2017-12-13 12:11] RogerLott commented on #36
About axisUnitID: I have no idea why ID is there. This is how it is in 19111:2007. I want to change 19111:2007 only if it is essental because it is definitely wrong. Here I don't think that is the case.
I agree with your sentiment regarding the prefix axis too, and the same applies to axisAbbreviation and axisDirection. Indeed I don't know why axisAbbreviation is actually necessary as IdentifiedOb

[2017-12-13 12:22] desruisseaux commented on #36
`DateTimeTemporalCS` and `TemporalCountCS` units are not convertible to SI, but I thought that `TemporalMeasureCS` has units convertible to SI. If not, which one of those CS subtypes has temporal units convertible to SI?

[2017-12-13 14:07] desruisseaux commented on #36
Indeed, we are going in circles. Can we try to clarify the use cases?

**Temporal count:**
* Climatological data (not convertible to date)

**Temporal SI units:**
* NetCDF format (oceanographical data)
* GRIB format (meteorological data)
* Spreadsheets like Excel (even if their dates look like `dateTime`, they actually use SI units)
* MatLab and other tools performing analysis (spectral analysis,

[2017-12-13 14:20] marqh commented on #36
on @RogerLott's detail question

In the model posted by @jetgeo _GeneralCoordinateSystemAxis_ is abstract where as CoordinateSystemAxis is concrete, so all users of GeneralCoordinateSystemAxis are required to select a subtype, either CoordinateSystemAxis, which mandates axisUnitID or DatetimeCoordinateSystemAxis, which has no axisUnitID available

[2017-12-13 14:30] desruisseaux commented on #36
Indeed, but in current model there is nothing forcing e.g. a `CartesianCS` to use a `CoordinateSystemAxis` (unless it is stated in the text somewhere, but it does not appear in the UML). `CartesianCS` could be associated to `DatetimeCoordinateSystemAxis` (I agree it make no sense, but above UML does not prevent that) or to another `GeneralCoordinateSystemAxis` subtype invented by the user. In the

[2017-12-13 15:34] pebau commented on #36
Another DateTime use case is the whole universe of coverages, supported by many tools and also by the INSPIRE European regulatory framework. Sample temporal subsetting request:

`http://www.acme.com/ows ? SERVICE=WCS & VERSION=2.0
    & REQUEST=GetCoverage & COVERAGEID=c001
    & SUBSET=Long(100,120) & SUBSET=Lat(50,60)
    & SUBSET=time("2009-11-06T23:20:52","2011-10-06T23:20:52")`

Applications

[2017-12-13 18:42] desruisseaux commented on #36
@pebau yes, but I wonder if our difficulties in this thread is partially caused by a confusion between (spatial or temporal) coordinate and _string representation_ of that coordinate? The "2009-11-06T23:20:52" character sequence can be two things:

* A `dateTime` structure with 6 fields (year, month, _etc._) having values 2009, 11, 6, 23, 30 and 52. The ISO 8601 string representation of that data

[2017-12-15 10:49] RogerLott commented on #36
In going through the 19111 document ahead of circulating a final draft to the EC for their review, I had some trouble with definitions for some of the temporal-related classes and attributes. I have come to the view that a half-way position between some of the models above is appropriate. This model needs to be read in conjunction with the definitions and now significantly rewritten text and examp

[2017-12-15 11:04] RogerLott commented on #14
I have been through the 19111 draft document and found some minor errors together with some minor suggestions for improvements in the current diagrams, There also are some questions where the text has some legacy provisions and is inconsistent with the current diagrams; the text and model need harmonising but before changing the text I need @jetgeo to confirm that these texts are now obsolete and

[2017-12-15 20:43] jetgeo commented on #14
I have fixed 1-7 from the document above, and uploaded new figures.

8): There are no connections from DefiningParameter to any other class. But this association exists from OperationParameterValue. Maybe the text has been duplicated from there? Or should DefiningParameter be in the same hierarchy as OperationParameterValue? I have no idea, the use of these are beyond my knowledge.

9): Yes, I bel

[2017-12-16 07:13] RogerLott commented on #14
Identified Objects with Subtypes does not need to show the constraint on CoordinateSystemAxis. It overwrites the box below. I have reverted to the version of 2nd October. But at your convenience you should update the master figure.
All others look fine, thank you.

[2017-12-16 07:27] RogerLott commented on #14
Re question 8, the intent is to meet a request from Chris Little for ParametricDatum to be able to explicitly describe additional datum-defining parameters (beyond those inherited from Datum). It was suggested that their definition could utilise the capabilities already existing in the Coordinate Operations package.  ParameterValue alone will not do this (at least not very well) - it does not say

[2017-12-16 08:33] RogerLott commented on #14
I spoke too soon. Minor issue with the CoordinateReferenceSystems diagram. The role name derivingConversion overwrites the association to Conversion arrowhead (in bottom left of diagram).

Also the note on CRS in this diagram ("See DataEpoch diagram for relations to geometry") does not make much sense in the 19111 document as there is no DataEpoch diagram. Better as "For relations to Geometry see

[2017-12-16 09:00] jetgeo commented on #14
OK, both the above are done.
Not sure what to do with question 8?

[2017-12-16 12:34] RogerLott commented on #14
Thanks for diagram updates.
Regarding question 8, I suspect it is a copy and paste error in the text so I wll delete it there.

[2017-12-27 14:52] marqh opened #39 "Coverage Referencing"
Following on from #35 I have been further investigating ISO 19123:2007

I have a concern regarding this document and `Figure 2 - CV_Coverage`.  I have prepared an abbreviated version of this figure:
![figure2_abbrv_19123 2007](https://user-images.githubusercontent.com/1557321/34384257-ffebbd6a-eb12-11e7-9edf-54967d3e6948.png)

This figure defines how a coverage is directly associated with one CRS

[2017-12-27 14:55] marqh opened #40 "Coverage Referencing Multiplicity"
following on from #39

I would also like to raise queries regarding the appropriateness of the multiplicity of the association to a CRS within 19123:2007

Regarding `Figure 2 - CV_Coverage`,  I have prepared an abbreviated version of this figure:
![figure2_abbrv_19123 2007](https://user-images.githubusercontent.com/1557321/34384257-ffebbd6a-eb12-11e7-9edf-54967d3e6948.png)

Is it appropriate for a

[2017-12-27 16:13] desruisseaux commented on #39
In my understanding, this example (5D coverages where each dimension is defined by a 1D array of coordinate values) describes one particular sub-type of `CV_Coverage`, namely `CV_DiscreteGridPointCoverage` (even if coordinates are not evenly spaced in 1D arrays) or `CV_ContinuousQuadrilateralGridCoverage` if we allow interpolations. Those particular coverage subtypes are indirectly associated to a

[2017-12-27 16:22] desruisseaux commented on #39
Note also that I think the association described in the second UML already exists in some way in ISO 19123. In that UML, the `CoordinateSet` would describe the coverage domain of a `CV_DiscreteGridPointCoverage`. But `CV_Coverage` already has a `domainElement` association to a set of `CV_DomainObject`. That domain object is specialized by `CV_GridPoint`. So my guess is that in the particular case

[2017-12-27 16:45] desruisseaux commented on #40
I'm not sure to understand... Is the intend to avoid creating `CompoundCRS`? If so and if each CRS component is kept as a distinct association from `CV_Coverage`, what would be the CRS of operations like `CV_Coverage.find(DirectPosition)` or attributes like `CV_Grid.groudPoint`? We still need to specifies all the dimensions when requesting the coverage for a value, isn't it?

[2017-12-27 22:37] pebau commented on #40
It is not only a question of appropriateness, but very much of usability. CRS composition is a natural process, and it allows to have one single point where the application can find out all relevant CRS information. A very lean and elegant interface between coverage and CRS world. If there is a matching CRS, it can be used (although applications are not forced). If there is none, then it can be co

[2018-01-09 13:17] marqh commented on #40
thank you for the comments on this topic.  As I stated, my intent was to raise queries on this multiplicity.  I do not have a strong driver to keep this or change it.  Given changes in 19111 the occurrence of compound CRSs may increase.

The comments here are in favour of the multiplicity of 1, as in the current 19123.  Unless further comments arise with explicit reasons for wanting multiple CRSs,

[2018-01-09 17:35] marqh commented on #39
thank you for the feedback on this topic @desruisseaux .

I have looked in some detail into 19123 and attempted to understand how CV_Coverage and CV_DomainObject are to be used.

I continue to view the the relation between the CV_Coverage and the SC_CRS as unclear, in particular with regard to how to present properly ordered coordinate tuples to a SC_CRS (or SC_CoordinateMetadata).

I think that a

[2018-01-10 16:20] marqh commented on #39
I think that the following statement is consistent with 19111:
* A publisher of an identified CRS definition will publish the CRS with a defined CS Axis order.

I am interested whether the following statement is consistent with 19123:
* A coverage, defined with respect to one CRS, will provide referenced coordinate values to the CRS interface as coordinate tuple collections, where each coordinate

[2018-01-10 17:59] RogerLott commented on #14
@jetgeo
During today's teleconference we decided that one change to the UML diagrams should be made. We felt that the CRS diagram is incomplete as it currently is. In particular the CRS diagram must not give the impression that Datum is optional. So...

The Datums.DatumEnsemble class and its associations to SingleCRS and Datums.Datum should be included in this diagram, together with showing the co

[2018-01-10 22:45] jetgeo commented on #14
Ok, I'll do as you want, but as you say, it will duplicate information. And make the CRS diagram less readable. But here it is: https://github.com/ISO-TC211/ISO19111/blob/master/Figures/Coordinate%20Reference%20Systems.png

![coordinate reference systems](https://user-images.githubusercontent.com/7501876/34799420-093d6abe-f660-11e7-94bd-9621e390a3f5.png)

[2018-01-11 09:42] desruisseaux commented on #39
I'm not sure what mean "provide referenced coordinate values to the CRS interface"? Do we mean something like "Coverage values are defined at positions specified by coordinate values related to Earth by the CRS"?

Instead of "where each coordinate tuple is ordered (…snip…)" I think you mean "where each coordinate value in a tuple is ordered (…snip…)"?

[2018-01-11 10:01] pebau commented on #39
Dear all,

re-posting below a typical "datacube" example of a coverage, using 4D coordinates.

The connection between coverage and CRS is given by:
- CRS identifier in srsName attribute
- sequence of labels in axisLabels: for N dimensions there must be N axisLabels,
and they will be assigned to each axis in sequence. The names as such do not
carry any meaning (starting CIS 1.1) so you can pick any

[2018-01-16 22:54] RogerLott commented on #14
@jetgeo , please update the Relation to Geometry with the additional constraint in both the Geometry and CoordinateMetadata classes.

[2018-01-17 08:28] jetgeo commented on #14
Done.

[2018-01-17 08:28] #14 closed, assigned to jetgeo

[2018-01-17 09:13] #36 closed, assigned to nobody

[2018-01-17 09:14] #37 closed, assigned to nobody

[2018-01-22 13:30] #40 closed, assigned to nobody

[2018-01-23 10:49] pebau commented on #39
sorry for the delay - yes, I can confirm that coordinate tuples will be defined
via reference to the single CRS of the coverage, in proper axis order. It is
just that they are not necessarily stored that way when it comes to
implementation (ie, encoding), but there is always a simple and well-defined way
to reconstruct the tuples.

HTH,

Peter

On 01/10/2018 05:20 PM, marqh wrote:

--
Dr. Peter Ba

[2018-01-29 10:24] RogerLott commented on #19
Descriptions/definitions updated as in DIS draft of 2018-01-26 in attached spreadsheet. Those that are believed to have changed are in red, although it is possible that some others may also have done so. Once added to the HM I believe this issue may be closed.
[19111 UML descriptions DIS 2018-01-27.xlsx](https://github.com/ISO-TC211/ISO19111/files/1673115/19111.UML.descriptions.DIS.2018-01-27.xlsx

[2018-02-06 09:15] jetgeo commented on #19
I have updated the definitions in the Harmonized Model. However, we should also have definitions for all navigable roles.
The attached spreadsheet contains all definitions from the model. The empty ones are the navigable roles that should have a definition.
[19111.UML.descriptions.DIS.2018-012-06.xlsx](https://github.com/ISO-TC211/ISO19111/files/1698411/19111.UML.descriptions.DIS.2018-012-06.xlsx)

[2018-02-07 15:03] marqh commented on #39
Hello @pebau

thank you for the examples, they are helpful

I see in the CIS example above
(https://github.com/ISO-TC211/ISO19111/issues/39#issuecomment-356885533)
that `GeneralGrid` contains `srsName` and `axisLabels`

Looking at 19123:2007, in particular Figure 2, I cannot see how 19123 provides a framework that this construction conforms to.  In particular, I don't understand which part of 1912

[2018-02-07 16:48] marqh opened #41 "Image CRS"
The new ISO19111 draft does not include `ImageCRS`, this has been removed as have the related `ImageDatum` and `ImageCS`.

There is critical metadata for managing images as referenced grids that has been removed from 19111 as a result.

This key metadata used to be attached to an `ImageDatum`, as `pixelinCell`, with values from a code list, either `cellCenter`, or `cellCorner`

In the new version

[2018-02-07 17:04] pebau commented on #39
Hi @marqh,

in part this is due to a harmonization effort with GML 3.2.1 (among other standards) when CIS was established. But there is also good reason from a technical point: srsName contains the (single) CRS associated with the coverage; although axisLabels (and uomLabels and dimension) are redundant they free the application from looking up a CRS definition (which may affect performance).
You

[2018-02-07 17:06] pebau commented on #41
request accepted for forthcoming ISO 19123-1. I will come back with the draft specification before release to seek feedback from this group. (approx mid-2018)

[2018-06-10 11:50] RogerLott opened #42 "Attributes in ObjectUsage class in CRS package diagram"
Jetgeo, there is inconsistency in the diagram for the CRS package compared to the diagrams for the Datums package and the CoordinateOperations package. In the CRS package the domain attribute is shown. For consistency the ObjectUsage.domain attribute should be removed from the CRS package diagram.

(An alternative approach would be to include the attributes in the IdentifiedObject and ObjectUsage

[2018-06-11 08:50] jetgeo commented on #42
Good observation. I have uploaded a new version of the CRS diagram now.

[2018-06-11 08:50] #42 closed, assigned to nobody

[2018-07-04 21:50] RogerLott opened #43 "Changes following DIS ballot"
@jetgeo
The following changes are required to accommodate editorial comments made in the 19111 DIS ballot.

1. In the UML for the Coordinates package, delete the second constraint "{crs.oclAsType(GeodeticCRS VerticalCRS) and count(crs.velocityModel)>0 implies count(coordinateEpoch)=1}" from both of the CoordinateMetadata and Geometry classes.

2. In the Coordinate Reference Systems package:
(i) ch

[2018-07-09 12:41] jetgeo commented on #43
Working on it...
Just cheking: So the requirement on Geometry and CoordinateMetadata to have a coordinateEpoch if the type of CRS is Geodetic og Vertical, and it has a velocityModel, is no longer valid?
Been a while since I worked on this model, so I don't remeber the details...
![relation to geometry](https://user-images.githubusercontent.com/7501876/42451043-645c5a78-8386-11e8-9271-36726583b50e.

[2018-07-09 12:53] jetgeo commented on #43
Done, new figures uploaded.

[2018-07-09 15:11] RogerLott commented on #43
@jetgeo said
"Just cheking: So the requirement on Geometry and CoordinateMetadata to have a coordinateEpoch if the type of CRS is Geodetic og Vertical, and it has a velocityModel, is no longer valid?"
The velocity model bit is removed, but if the CRS has a dynamic reference frame then coordinateEpoch is required. The diagram is as required, thanks.

[2018-07-09 16:24] #43 closed, assigned to nobody

[2018-07-24 14:57] RogerLott commented on #19
Attached is a spreadsheet containing definitions for all classes, associations and attributes in the 19111 model. Note that the definitions for the classes and for the attributes have all had minor modification, mainly to conform to ISO definition requirements through removal of the initial article and final full stop, but in some cases some minor changes to wording to improve clarity.
The definit

[2018-07-24 15:17] RogerLott opened #44 "19111 diagrams minor changes"
@jetgeo grateful if you could make minor changes to two of the diagrams:
1. The Operations part 1 diagram is inconsistent in showing the non-navigable roles at the CoordinateOperation end of the two associations to Data Epoch. These should be removed from the diagram (to be consistent with the associations to CRS).

2. In the 19111 document the Operations with Data Epoch diagram at full resolution

[2018-07-26 07:17] RogerLott commented on #19
Just realised that in the descriptions for non-navigable associations the plurals are unnecessary as multiplicity is taken care of by the cardinality. Updated spreadsheet attached.

[2018-07-26 07:17] RogerLott commented on #19
Just realised that in the descriptions for non-navigable associations the plurals are unnecessary as multiplicity is taken care of by the cardinality. Updated spreadsheet attached.
[19111 UML descriptions IS 2018-07-26.xlsx](https://github.com/ISO-TC211/ISO19111/files/2230856/19111.UML.descriptions.IS.2018-07-26.xlsx)

[2018-07-26 16:45] RogerLott commented on #19
Just realised that in the descriptions for non-navigable associations the plurals are unnecessary as multiplicity is taken care of by the cardinality. Updated spreadsheet attached.
[19111 UML descriptions IS 2018-07-26.xlsx](https://github.com/ISO-TC211/ISO19111/files/2232833/19111.UML.descriptions.IS.2018-07-26.xlsx)

[2018-07-26 16:47] RogerLott commented on #19
Attached is a spreadsheet containing definitions for all classes, associations and attributes in the 19111 model. Note that the definitions for the classes and for the attributes have all had minor modification, mainly to conform to ISO definition requirements through removal of the initial article and final full stop, but in some cases some minor changes to wording to improve clarity.
 The defini

[2018-08-08 10:03] jetgeo commented on #44
Ok, done.

[2018-08-08 10:03] #44 closed, assigned to nobody

[2018-08-08 22:04] RogerLott commented on #19
[19111 UML descriptions IS 2018-08-08.xlsx](https://github.com/ISO-TC211/ISO19111/files/2272155/19111.UML.descriptions.IS.2018-08-08.xlsx)
Attached is spreadsheet containing the agreed final definitions for all classes, associations and attributes in the 19111 model. Non-navigable associations have been deleted from the 19111 document and the attached spreadsheet. Unless you notice some errors I b

[2018-08-09 10:25] jetgeo commented on #19
Done. No missing definitions in the model now.

[2018-08-09 10:25] #19 closed, assigned to jetgeo